div.timeline-frame {
    border: 1px solid #ddd;
  background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}

div.timeline-axis {
    background-color: #676153;
    color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-top-style: solid;
}
div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
}
div.timeline-axis-grid-minor {
    border-color: #e5e5e5;
}
div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}
div.timeline-axis-text {
    /*color: #4D4D4D;*/
    color: #f5f4ee;
    padding: 3px;
    white-space: nowrap;
    font-size: 11px;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
    /*color: #1A1A1A;*/
    /*border-color: #ddd;*/
    /*background-color: #D5DDF6;*/
    display: inline-block;
}

div.timeline-event-selected {
    border-color: #FFC200;
    /*background-color: #676153;*/
    opacity: .7;
    z-index: 999;
}

div.timeline-event-cluster {
    /* TODO: use another color or pattern? */
    background: #97B0F8 url('../img/timeline/cluster_bg.png');
    color: white;
}
div.timeline-event-cluster div.timeline-event-dot {
    border-color: #D5DDF6;
}

div.timeline-event-box {
    text-align: center;
    /*border-style: solid;
    border-width: 1px;*/
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}


div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

div.timeline-groups-axis {
    border-color: #BEBEBE;
    border-width: 1px;
}
div.timeline-groups-text {
    color: #4D4D4D;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
    z-index: 150;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
}

div.timeline-navigation {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: gray;

    border: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    border-radius: 2px;
    -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-navigation-new, 
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, 
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    cursor: pointer;
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    border-color: #BEBEBE; /* border is used for the separator between new and navigation buttons */

    width: 16px;
    height: 16px;
}

div.timeline-navigation-new {
    background: url('../img/timeline/16/new.png') no-repeat center;
}

div.timeline-navigation-delete {
    padding: 0px;
    padding-left: 5px;
    /*background: url('img/16/delete.png') no-repeat center;*/
  display: inline-block;
  margin-top: 2px;
  margin-left: -16px;
  width: 14px;
  height: 14px;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  vertical-align: text-top;
  line-height: 14px;
  *margin-right: .3em;
  background-position: -48px -96px;
  z-index: 10000;
}

div.timeline-navigation-zoom-in {
    background: url('../img/timeline/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('../img/timeline/16/zoomout.png') no-repeat center;
}

div.timeline-navigation-move-left {
    background: url('../img/timeline/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
    background: url('../img/timeline/16/moveright.png') no-repeat center;
}





.state-available {
    margin:0;
    background-color: #4f824f;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}

.state-available-south {
    margin:0;
    background-color: #4f824f;
    /*border:1px solid #4f824f;*/
    text-indent: -9999px;
    border-bottom: 10px solid #e08a0c;
}

.state-available-north {
    margin:0;
    background-color: #4f824f;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid black;
    text-indent: -9999px;
}

.state-schipper-service {
    margin:0;
    background-color: #4f824f;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #e0c100;
    text-indent: -9999px;
}

.state-reached {
    margin:0;
    background-color: #65619b;
    /*border:1px solid #65619b;*/
    border-bottom: 10px solid #65619b;
    text-indent: -9999px;
}

.state-unavailable {
    margin: 0;
    background-color: #a93232;  
    /*border:1px solid #a93232;*/   
    border-bottom: 10px solid #a93232;
    text-indent: -9999px;
}

.group-aggs {
    border: none;
    padding: 0;
    height: 100px;
}




.agg-less {
    margin:0;
    background-color: #a0a0a0;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-even {
    margin:0;
    background-color: #ba6a24;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-1 {
    margin:0;
    background-color: #415e6b;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-2 {
    margin:0;
    background-color: #3d5865;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-3 {
    margin:0;
    background-color: #3d5865;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-4 {
    margin:0;
    background-color: #344c58;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-5 {
    margin:0;
    background-color: #2f4550;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-6 {
    margin:0;
    background-color: #2c424c;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-7 {
    margin:0;
    background-color: #253943;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}
.agg-more {
    margin:0;
    background-color: #486877;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #4f824f;
    text-indent: -9999px;
}




/*
div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}
div.requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    opacity: 0.5;
}
*/
    


#groupTimeline {
    z-index:10;
}
#memberTimeline {
    z-index: 20;
}
#groupTimelineHolder div.timeline-event {
    border: none;
    border-radius: 0;
    background: none;
}
#groupTimelineHolder div.timeline-event-selected {
    border: none;
    background: none;
}
#groupTimelineHolder div.timeline-event-content {
    margin: 0;
    border:none;
}
div.timeline-event-range {
    position: relative;
    overflow: visible;
    width: 100%;
    /*height: 100px;*/
    /*height: auto;*/
    overflow: hidden;
    border: none;
    border-radius: 0;
}
.timeline-frame .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    color: white;
    /* height and color is set for each individual bar */
    text-align: center;
}
.timeline-frame .requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    text-align: center;
    opacity: 0.5;
}
div.bar span {
    font-size: 9px;
}
#legends {
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
#legends ul {
  margin-left: 1px;
  list-style: none;
}
#legends ul li {
  display: inline;
  float: left;
  margin-right: 25px;
  list-style-image: none;
}
.square {
    float: left;
  margin-top: 1px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}