<h2>Groups</h2>
<hr>

<form class="form-search pull-right" style="display: inline;">
  <div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
  </div>
</form>

<div class="btn-group">
  <button class="btn"><i class="icon-plus"></i> New group</button>
</div>

<hr>

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs" style="width: 210px">
    <li ng-repeat="group in groups" 
        class="{{($index == 0) && 'active'}}">

      <a href="#grp-{{group.uuid}}" data-toggle="tab">
        {{group.name}}
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div  ng-repeat="group in groups"
          class="{{($index == 0) && 'tab-pane active' || 'tab-pane'}}"
          id="grp-{{group.uuid}}">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Role</th>
            <th>Tel</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="member in members[group.uuid]">
            <td>{{$index + 1}}</td>
            <td><a href="#/profile/{{member.uuid}}/view">{{member.name}}</a></td>
            <td>{{member.resources.role|translateRole}}</td>
            <td>{{member.resources.PhoneAddress}}</td>
            <td>
              <a href="#/profile/{{member.uuid}}/edit" 
                class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
              <button type="submit" 
                      ng-click="removeMember(member.uuid)" 
                      class="btn btn-mini"><i class="icon-trash"></i> Remove</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>

</div>