<h2>Groups</h2>
<hr>

<form class="form-search" style="display: inline; float: right">
  <div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
  </div>
</form>

<div class="btn-group">
  <button class="btn"><i class="icon-plus"></i> New group</button>
</div>

<hr>

<div class="row">

  <div class="span2">
  	<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
				<li ng-repeat="group in groups">
					<a href="#groups/{{group.uuid}}/view">{{group.name}}</a>
				</li>
		  </ul>
		</div>
  </div>

  <div class="span10">
  	<p>Please select a group.</p>
  </div>

</div
