<h2>Messages</h2>

<hr>



<!-- Messages toolbar -->
<div class="row" style="padding-left: 30px;">
  <div class="btn-group" style="margin-left: 15px" bs-buttons-radio>
    <button type="button" class="btn" ng-model="boxes.inbox">Inbox</button>
    <button type="button" class="btn" ng-model="boxes.outbox">Outbox</button>
    <button type="button" class="btn" ng-model="boxes.trash">Trash</button>
  </div>

  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">Sort by <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Date</a></li>
      <li><a href="#">Name</a></li>
      <li><a href="#">Subject</a></li>
      <li class="divider"></li>
      <li><a href="#">Ascending</a></li>
      <li><a href="#">Descending</a></li>
    </ul>
  </div>

  <div class="btn-group pull-right">
    <button type="submit" 
            ng-click="composeMessage()" 
            ng-hide="composeView"
            class="btn btn-success">Compose a message</button>
  </div>


  <hr>
</div>
<!-- end of messages toolbar -->





















<!-- messages list -->
<div class="tabbable tabs-left"
      ng-hide="composeView">

  <ul class="nav nav-tabs" 
      style="width: 210px;
              height: 600px;
              overflow: hidden;
              margin-right: -1px">
    <li ng-repeat="message in messages" 
    		class="{{($index == 0) && 'active'}}">

    	<a href="#msg-{{message.uuid}}" 
          data-toggle="tab"
          ng-click="fixTabHeight(message.uuid)">
    		<strong>{{message.sender}}</strong><br>
    		{{message.subject}}<br>
    		{{message.creationTime}}
    	</a>
    	
    	
    </li>
  </ul>

  <div class="tab-content"
        style="background-color: white; 
                border: 1px solid #ddd; 
                padding: 20px;
                height: 600px">
  

    <div ng-repeat="message in messages"
    			class="{{($index == 0) && 'tab-pane active' || 'tab-pane'}}"
    			id="msg-{{message.uuid}}">

      <div style="overflow: hidden; height: 35px">
        <h3 style="margin-top: 0;" class="pull-left">{{message.subject}}</h3>

	        <div class="pull-right">
	          <button type="submit" ng-show="boxes.inbox"
	                  ng-click="replyMessage(message)" class="btn">Reply</button>
	       	  <button type="button" ng-show="boxes.inbox || boxes.outbox"
	                  class="btn btn-danger" ng-click="askDelete(message)" 
	                  bs-modal="'partials/modal.html'" >Delete</button>
	          <button type="submit" ng-show="boxes.trash"
	                  ng-click="restore(message)" 
	                  class="btn ">Restore</button>
	          <button type="submit" ng-show="boxes.trash"
	                  ng-click="askDeleteforever(message)" 
	                  class="btn btn-danger" bs-modal="'partials/modal.html'" >Delete Forever</button>
	        </div>
        
      </div>
      

      <hr>

      <dl>
			  <dt>Sender</dt>
			  	<dd>{{message.sender}}</dd>
			  <dt>Receiver</dt>
			  	<dd>{{message.receiver}}</dd>
			  <dt>Date</dt>
			  	<dd>{{message.datetime}}</dd>
			  <dt>Module</dt>
			  	<dd>{{message.module}}</dd>
			  <dt>Priority</dt>
			  	<dd>{{message.priority}}</dd>
			  <dt>Question Text</dt>
			  	<dd>{{message.question_text}}</dd>
			  <dt>State</dt>
			  	<dd>{{message.state}}</dd>
			  <dt>Subject</dt>
			  	<dd>{{message.subject}}</dd>
			  <dt>Type</dt>
			  	<dd>{{message.type}}</dd>
			</dl>
    
    </div>
  </div>

</div>
<!-- end messages list -->






<!-- Compose view -->
<div class=""
      style="background-color: white; 
                border: 1px solid #ddd; 
                padding: 20px;" 
      ng-show="composeView">

  <div style="overflow: hidden; height: 35px">
    <h3 style="margin-top: 0;" class="pull-left">Compose a message</h3>
  </div>

  <hr>

  <form>
    <fieldset>
  
      <div class="control-group">
        <label>Message Types</label>
        <div  class="btn-group"  
              bs-buttons-checkbox="" 
              data-toggle="buttons-checkbox">

          <button type="button" 
                  class="btn" 
                  ng-model="message.type.sms" 
                  ng-click=""
                  bs-button="">SMS</button>
          <button type="button" 
                  class="btn" 
                  ng-model="message.type.message" 
                  ng-click=""  
                  bs-button="">Intern Bericht</button>

          <button type="button" 
                  class="btn" 
                  ng-model="message.type.email" 
                  ng-click=""
                  bs-button="">Email</button>
        </div>
      </div>

      <div class="control-group">
        <label>Receviers</label>
        <select data-placeholder="Choose a Recipient" 
                multiple class="span5 chzn-select" 
                chosen
                ng-model="message.receivers" 
                ng-options="receiver.name group by receiver.group for receiver in receviersList">
        </select>
<!--         <p ng-repeat="receiver in message.receivers"><strong>{{receiver.id}}</strong></p> -->
      </div>

      <div class="control-group">
        <label>Subject</label>
        <input type="text" 
                class="span5"
                ng-model="message.subject"
                placeholder="Type a subject…">
      </div>


      <div class="control-group">
        <label>Message</label>
        <textarea rows="7" 
                  class="span7"
                  ng-model="message.body"></textarea>
      </div>

      <hr>

      <div class="btn-group">
        <button type="submit" 
                ng-click="sendMessage(message)" 
                class="btn btn-success">Send Message</button>
        <button type="submit" 
                ng-click="boxer('inbox')" 
                class="btn">Cancel</button>
      </div>

    </fieldset>
  </form>

</div>
<!-- end compose view -->



















<!-- New messages view 
<div class="row" class="messagesView"
      style="margin-left: 0;
              background-color: white; 
              border: 1px solid #ddd; 
              min-height: 600px;">
  

  <div style="border-width: 250px;
              height: 600px;
              width: 20%;
              border-right: 1px solid #ddd;
              float: left;
              overflow: auto">

    <ul style="list-style: none; margin: 0">

      <li ng-repeat="message in messages" 
          style="padding: 10px; border-bottom: 1px solid #ddd; cursor: pointer;">

        <a href="#msg-{{message.uuid}}" 
            data-toggle="tab"
            ng-click="fixTabHeight(message.uuid)">
          <strong>{{message.sender}}</strong><br>
          {{message.subject}}<br>
          {{message.creationTime}}
        </a>

      </li>

    </ul>

  </div>

  <div style="float: left;
              width: 79%;">

    <div style="padding:20px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

  </div>


</div>

-->







