<!-- page header -->
<div style="overflow:hidden;">
  <h2 class="pull-left">Planboard</h2>
  <div class="pull-right" style="margin-top: 35px;">
  <h4 class="pull-right"
      style="font-weight: normal">{{range.from|nicelyDate}} / {{range.till|nicelyDate}}</h4>
  </div>
</div>
<!-- end page header -->

<hr>


<!-- timeline controls -->
<div class="row" style="padding-left: 30px; overflow: hidden">
  

  <!-- core timeline controls -->
  <div class="pull-left" style="margin-top: 10px">


    <!-- dateranger -->
    <div class="control-group input-append pull-left"
          style="margin-right: 10px;">
      <input type="text" 
            style="width: 165px" 
            name="daterange" 
            ng-model="daterange" 
            daterangepicker="">
      <button type="button" 
              ng-click="setTimelineRange()"
              class="btn">Go</button>
    </div>
    <!-- end dateranger -->


    <!-- view togglers -->
    <div class="btn-group pull-left" 
          bs-buttons-checkbox="" 
          data-toggle="buttons-radio"
          style="margin-right: 5px">
      <button type="button" 
              class="btn" 
              ng-model="timelineScope.week" 
              bs-button="">Week</button>
      <button type="button" 
              class="btn" 
              ng-model="timelineScope.month" 
              bs-button="">Month</button>
    </div>
    <!-- end view togglers -->


    <!-- timeline navigation -->
    <div class="btn-group pull-left"
          style="margin-right: 5px">

      <button type="button" 
              class="btn"
              ng-click="timelineBefore()"><i class="icon-arrow-left"></i></button>

      <button type="button" 
              class="btn"
              ng-click="timelineZoomIn()"><i class="icon-zoom-in"></i></button>

      <button type="button" 
              class="btn"
              ng-click="timelineZoomOut()"><i class="icon-zoom-out"></i></button> 

      <button type="button" 
              class="btn"
              ng-click="timeline"><i class="icon-arrow-right"></i></button>  

    </div>
    <!-- end timeline navigation -->


  </div>
  <!-- end core timeline controls -->


  <!-- groups members controls -->
  <div class="pull-right">


    <!-- groups list -->
    <!-- <span style="margin-left: 15px">Group</span> -->
    <select ng-model="state__" 
            style="margin-top: 10px; width: 160px;"
            ng-options="option as value for (option, value) in groups">
      <option value="">-- group</option>
    </select>
    <!-- end groups list -->


    <!-- divisions list -->
    <!-- <span style="margin-left: 15px">Division</span> -->
    <select ng-model="state__" 
            style="margin-top: 10px; width: 160px;"
            ng-options="option as value for (option, value) in divisions">
      <option value="">-- division</option>
    </select>
    <!-- end divisions list -->


    <!-- timeline layout manager -->
    <div  class="btn-group" 
          style="margin-left: 15px" 
          bs-buttons-checkbox="" 
          data-toggle="buttons-checkbox">
      <button type="button" 
              class="btn" 
              ng-model="checkbox.left" 
              bs-button="">User</button>
      <button type="button" 
              class="btn" 
              ng-model="checkbox.middle" 
              bs-button="">Group</button>
      <button type="button" 
              class="btn" 
              ng-model="checkbox.right" 
              ng-click=""
              bs-button="">Team</button>
    </div>
    <!-- end timeline layout manager -->


  </div>
  <!--end groups members controls -->


</div>
<!-- end timeline controls -->


<hr>


<!-- slot controls -->
<div class="row" style="padding-left: 30px">
  <form class="form-inline well">


    <!-- slot from -->
    <span>From</span>
    

    <!-- date -->
    <div class="control-group input-append">
      <input  name="date-from" 
              class="input-small" 
              type="text" 
              ng-model="slot.from.date" 
              data-date-format="dd-mm-yyyy" 
              bs-datepicker="">
      <button type="button" 
              class="btn" 
              data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
    <!-- end date -->


    <!-- time -->
    <div class="control-group" style="display: inline">
      <input  name="time-from" 
              type="text" 
              class="input-small" 
              ng-model="slot.from.time" 
              bs-timepicker>
      <i class="icon-time" style="position: relative; margin: 2.5px 0 0 -24px;"></i>
    </div>
    <!-- end time -->


    <!-- end slot from -->


    <!-- slot till -->
    <span style="margin-left: 15px">Till</span>


    <!-- date -->
    <div class="control-group input-append">
      <input  name="date-till" 
              class="input-small" 
              type="text" 
              ng-model="slot.till.date" 
              data-date-format="dd-mm-yyyy" 
              bs-datepicker="">
      <button type="button" 
              class="btn" 
              data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
    <!-- end date -->


    <!-- time -->
    <div class="control-group" style="display: inline">
      <input  name="time-till" 
              type="text" 
              class="input-small" 
              ng-model="slot.till.time" 
              bs-timepicker>
      <i class="icon-time" style="position: relative; margin: 2.5px 0 0 -24px;"></i>
    </div>
    <!-- end time -->


    <!-- end slot till -->


    <!-- slot state -->
    <span style="margin-left: 15px">State</span>
    <select ng-model="slot.state" 
            ng-options="option as value for (option, value) in states">
      <option value="">-- selecteer state --</option>
    </select>
    <!-- end slot state -->


    <!-- slot recursive -->
    <button type="button" 
            class="btn" 
            ng-model="slot.recursive" 
            style="margin-left: 15px" 
            bs-button>Wekelijks</button>
    <!-- end slot recursive -->


    <!-- slot actions -->
    <div  class="btn-group" 
          ng-hide="original" 
          style="display: inline; margin-left:10px">
      <button type="submit" 
              ng-click="add(slot)" 
              class="btn btn-success">Add</button>
    </div>
    <div  class="btn-group" 
          ng-show="original" 
          style="display: inline; margin-left:10px">
      <button type="submit" 
              ng-click="change(original, slot)" 
              class="btn btn-success">Change</button>
      <button type="submit" 
              ng-click="delete(slot.id)" 
              class="btn btn-danger">Delete</button>
    </div>
    <!-- end slot actions -->


  </form>
</div>
<!-- end slot controls -->



<!-- timelines statistics -->
<div class="row" style="padding-left: 30px">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs"
        style="width: 100px;
                margin-right: -1px">
      <li class="active">
        <a href="#timelineTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('timelineTab')">Timeline</a>
      </li>
      <li>
        <a href="#statisticsTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('statisticsTab')">Statistics</a>
      </li>
    </ul>
    <!-- end tabs -->

    <!-- tabs content -->
    <div class="tab-content"
          style="background-color: white; 
                  border: 1px solid #ddd; 
                  padding: 20px;">
      
      <!-- timelines -->
      <div class="tab-pane active" id="timelineTab">


        <!-- user timeline -->
        <div id="myTimeline"></div>
        <!-- end user timeline -->


      </div>
      <!-- end timelines -->

      <!-- statistics -->
      <div class="tab-pane" id="statisticsTab">
        <p>Statistics content</p>
      </div>
      <!-- end statistics -->


    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end timelines statistics