<!-- page header -->
<div style="overflow:hidden;">
  <h2 class="pull-left">Planboard</h2>



  <!-- groups members controls -->
  <div class="pull-right" style="margin-top: 10px;">


    <!-- groups list -->
    <!-- <span style="margin-left: 15px">Group</span> -->
    <select ng-model="timeline.current.group" 
            style="margin-top: 10px; width: 160px; margin-right:10px" 
            ng-options="group.uuid as group.name for group in groups"
            ng-selected="timeline.current.group"
            ng-change="requestTimeline(timeline.current)">
    </select>
    <!-- end groups list -->


    <!-- divisions list -->
    <!-- <span style="margin-left: 15px">Division</span> -->
    <select ng-model="timeline.current.division" 
            style="margin-top: 10px; width: 160px;"
            ng-options="division.id as division.label for division in divisions"
            ng-selected="timeline.current.division"
            ng-change="requestTimeline(timeline.current)">
            
    </select>
    <!-- end divisions list -->


    <!-- timeline bar charts -->
    <div  class="btn-group" 
          style="margin-left: 10px">

      <button type="button" 
              ng-click="barCharts()" 
              class="btn {{(timeline.config.bar==true) && 'active'}}" 
              ng-model="timeline.config.bar">Bar charts</button>

    </div>
    <!-- end timeline bar charts -->


    <!-- group wishes -->
    <div  class="btn-group" 
          style="margin-left: 10px">

      <button type="button" 
              ng-click="groupWishes()"
              class="btn {{(timeline.config.wishes==true) && 'active'}}" 
              ng-model="timeline.config.wishes">Wishes</button>

    </div>
    <!-- end group wishes -->




    <!-- timeline layout manager -->
    <div  class="btn-group" 
          style="margin-left: 10px">
          <!-- bs-buttons-checkbox> -->

      <!-- <button type="button" 
              ng-model="timeline.current.layouts.user" 
              class="btn {{(timeline.current.layouts.user==true) && 'active'}}" 
              ng-click="requestTimeline(timeline.current, 'user')">User</button> -->

      <button type="button" 
              ng-model="timeline.current.layouts.group" 
              class="btn {{(timeline.current.layouts.group==true) && 'active'}}" 
              ng-click="requestTimeline(timeline.current, 'group')">Group</button>

      <button type="button" 
              ng-model="timeline.current.layouts.members" 
              class="btn {{(timeline.current.layouts.members==true) && 'active'}}" 
              ng-click="requestTimeline(timeline.current, 'members')">Members</button>

    </div>
    <!-- end timeline layout manager -->

  </div>
  <!--end groups members controls -->

</div>
<!-- end page header -->

<hr>

<!-- timeline controls -->
<div class="row" style="padding-left: 30px; overflow: hidden">

  <!-- core timeline controls -->
  <div class="pull-left" style="margin-top: 10px">

    <!-- dateranger -->
    <div class="control-group pull-left"
          style="margin-right: 5px;">

      <!-- <span style="margin-top: -10px;">Range</span> -->

      <input type="text" 
            style="width: 190px" 
            name="daterange" 
            ng-model="daterange" 
            daterangepicker="">

      <i class="icon-calendar" style="position: relative; margin: -2px 0 0 -24px;"></i>

      <!-- <button type="button" 
              ng-click="setTimelineRange()"
              class="btn">Go</button> -->

    </div>
    <!-- end dateranger -->

    <!-- timeline scopers -->
    <div class="btn-group pull-left" 
          style="margin-right: 5px">

      <button type="button" 
              ng-model="timeline.scope.day" 
              class="btn {{(timeline.scope.day==true) && 'active'}}" 
              ng-click="timelineScoper('day')">Day</button>

      <button type="button" 
              ng-model="timeline.scope.week" 
              class="btn {{(timeline.scope.week==true) && 'active'}}" 
              ng-click="timelineScoper('week')">Week</button>

      <button type="button" 
              ng-model="timeline.scope.month" 
              class="btn {{(timeline.scope.month==true) && 'active'}}" 
              ng-click="timelineScoper('month')">Month</button>

    </div>
    <!-- end timeline scopers -->

    <!-- timeline navigation -->
    <div class="btn-group pull-left" 
          style="margin-right: 5px">

      <button type="button" 
              class="btn"
              ng-click="timelineBefore(timeline.scope)"><i class="icon-arrow-left"></i></button>

      <button type="button" 
              class="btn"
              ng-click="timelineAfter(timeline.scope)"><i class="icon-arrow-right"></i></button>  

    </div>
    <!-- end timeline navigation -->

    <!-- timeline zooms -->
    <div class="btn-group pull-left"
          style="margin-right: 5px">

      <button type="button" 
              class="btn"
              ng-click="timelineZoomIn()"><i class="icon-zoom-in"></i></button>

      <button type="button" 
              class="btn"
              ng-click="timelineZoomOut()"><i class="icon-zoom-out"></i></button> 

    </div>
    <!-- end timeline zooms -->

  </div>
  <!-- end core timeline controls -->

  <!-- range indicator -->
  <div class="pull-right" style="text-align: right">
    <h4 style="font-weight: normal">
      {{timeline.range|rangeMainFilter}}<br>
      <!-- timeline scope info -->
      <div style="font-size: 15px; font-weight: lighter">
      <span>{{timeline|rangeInfoFilter}}</span>
      </div>
      <!-- end timeline scope info -->
    </h4>
  </div>
  <!-- end range indicator -->

</div>
<!-- end timeline controls -->

<hr>

<!-- slot controls -->
<div class="row" style="padding-left: 30px">
  <form class="form-inline well">

    <!-- slot start -->
    <span>From</span>

    <!-- date -->
    <div class="control-group" style="display: inline;">

      <input  name="date-start" 
              style="width: 105px" 
              type="text" 
              ng-model="slot.start.date" 
              data-date-format="dd-mm-yyyy" 
              bs-datepicker="">

      <i class="icon-calendar" style="position: relative; margin: 2.5px 0 0 -24px;"></i>

      <!-- <button type="button" 
              class="btn" 
              data-toggle="datepicker"><i class="icon-calendar"></i></button> -->

    </div>
    <!-- end date -->

    <!-- time -->
    <div class="control-group" style="display: inline; margin-left: 5px">

      <input  name="time-start" 
              type="text" 
              class="input-small" 
              ng-model="slot.start.time" 
              bs-timepicker>

      <i class="icon-time" style="position: relative; margin: 2.5px 0 0 -24px;"></i>
    </div>
    <!-- end time -->

    <!-- end slot start -->

    <!-- slot end -->
    <span style="margin-left: 15px">Till</span>

    <!-- date -->
    <div class="control-group" style="display: inline;">

      <input  name="date-end" 
              style="width: 105px"  
              type="text" 
              ng-model="slot.end.date" 
              data-date-format="dd-mm-yyyy" 
              bs-datepicker="">

      <i class="icon-calendar" style="position: relative; margin: 2.5px 0 0 -24px;"></i>

      <!-- <button type="button" 
              class="btn" 
              data-toggle="datepicker"><i class="icon-calendar"></i></button> -->

    </div>
    <!-- end date -->

    <!-- time -->
    <div class="control-group" style="display: inline; margin-left: 5px">

      <input  name="time-end" 
              type="text" 
              class="input-small" 
              ng-model="slot.end.time" 
              bs-timepicker>

      <i class="icon-time" style="position: relative; margin: 2.5px 0 0 -24px;"></i>
    </div>
    <!-- end time -->

    <!-- end slot end -->

    <!-- slot state -->
    <span style="margin-left: 15px">State</span>
    <select ng-model="slot.state" 
            ng-options="option as value for (option, value) in states">
      <option value="">-- selecteer state --</option>
    </select>
    <!-- end slot state -->

    <!-- slot recursive -->
    <button type="button" 
            class="btn" 
            ng-model="slot.recursive" 
            style="margin-left: 15px" 
            bs-button>Wekelijks</button>
    <!-- end slot recursive -->

    <!-- slot actions -->
    <div  class="btn-group" 
          ng-hide="original" 
          style="display: inline; margin-left:10px">

      <button type="submit" 
              ng-click="add(slot)" 
              class="btn btn-success">Add</button>

    </div>
    <div  class="btn-group" 
          ng-show="original" 
          style="display: inline; margin-left:10px">

      <button type="submit" 
              ng-click="change(original, slot)" 
              class="btn btn-success">Change</button>

      <button type="submit" 
              ng-click="delete(slot.id)" 
              class="btn btn-danger">Delete</button>

    </div>
    <!-- end slot actions -->

  </form>
</div>
<!-- end slot controls -->


<!-- timelines & statistics -->
<div class="row" style="padding-left: 30px">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs"
        style="width: 100px;
                margin-right: -1px">
      <li class="active">
        <a href="#timelineTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('timelineTab')">Timeline</a>
      </li>
      <li>
        <a href="#statisticsTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('statisticsTab')">Statistics</a>
      </li>
    </ul>
    <!-- end tabs -->

    <!-- tabs content -->
    <div class="tab-content"
          style="background-color: white; 
                  border: 1px solid #ddd; 
                  padding: 20px;">
      
      <!-- timelines -->
      <div class="tab-pane active" id="timelineTab">

        <!-- legenda -->
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Legenda <span class="caret"></span></button>
          <ul class="dropdown-menu">

            <li>
              <a href="">
                <div style="background-color: #4f824f;"></div> 
                Beschikbaar Beide
              </a>
            </li>
            <li>
              <a href="">
                <div style="border-top:7px solid black; background-color: #4f824f; height: 7px"></div> 
                Beschikbaar Noord
              </a>
            </li>
            <li>
              <a href="">
                <div style="border-top:7px solid #e08a0c; background-color: #4f824f; height: 7px;"></div> 
                Beschikbaar Zuid
              </a>
            </li>
            <li>
              <a href="">
                <div style="border-top:7px solid #e0c100; background-color: #4f824f; height: 7px;"></div> 
                Schipper Van Dienst
              </a>
            </li>
            <li>
              <a href="">
                <div style="background-color: #a93232;"></div> 
                Niet Beschikbaar
              </a>
            </li>
            <li>
              <a href="">
                <div style="background-color: #65619b;"></div> 
                Niet Bereikt
              </a>
            </li>

            <li class="divider"></li>

            <li><a href="#">Separated link</a></li>

          </ul>
        </div>
        <!-- end legenda -->

        <hr>

        <!-- user timeline -->
        <div id="myTimeline"></div>
        <!-- end user timeline -->

        <p class="muted small"><i>Last sync time: {{data.synced | convertTimeStamp}}</i></p>

      </div>
      <!-- end timelines -->

      <!-- statistics -->
      <div class="tab-pane" id="statisticsTab">
        <p>Statistics content</p>
      </div>
      <!-- end statistics -->

    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end timelines & statistics