<h2>Profile: {{resources.name}}</h2>
<hr>

<div class="btn-group">
  <a  class="btn"
      href="#profile/edit/{{user.id}}"><i class="icon-cog"></i> Edit profile</a>
  <a  class="btn"
      href="#profile/password/{{user.id}}"><i class="icon-lock"></i> Change password</a>
</div>

<hr>

<h3>View profile</h3>

<dl>
  <dt>Email</dt>
    <dd>{{resources.EmailAddress}}</dd>
  <dt>Phone</dt>
    <dd>{{resources.PhoneAddress}}</dd>
  <dt>Address</dt>
    <dd>{{resources.PostAddress}}</dd>
  <dt>Postcode</dt>
    <dd>{{resources.PostZip}}</dd>
  <dt>City</dt>
    <dd>{{resources.PostCity}}</dd>
</dl>