<h2>Profile: {{resources.name}}</h2>
<hr>

<div class="btn-group">
  <a  class="btn"
      href="#profile/{{user.id}}/view"><i class="icon-user"></i> View profile</a>
  <a  class="btn"
      href="#profile/{{user.id}}/edit"><i class="icon-cog"></i> Edit profile</a>
</div>

<hr>

<h3>Change password</h3>

<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Current password</label>
    <div class="controls">
      <input  type="password" 
              ng-model="passwords.current">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">New passowrd</label>
    <div class="controls">
      <input  type="password" 
              ng-model="passwords.new">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">New password (Repeat)</label>
    <div class="controls">
      <input  type="password" 
              ng-model="passwords.new_repeat">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button   type="submit" 
                class="btn btn-success"
                ng-click="save(resources)">Change password</button>
    </div>
  </div>

</form>