div.widget
  div.head
    h4 {{ui.dashboard.overview}}
    button#dashboardPopoverBtn.btn.btn-small(bs-popover__='"views/dashboard-pies.html"',
    data-placement='{{(browser.mobile) && "left" || "bottom"}}',
    data-title='Overzicht instellingen',
    ng-click='fixPopoverPos()')
      i.icon-cog
  hr
  p(ng-hide='loading.pies || !checkAnyPies()',
  ng-show='checkAnyPies()') Er zijn geen groepen geselecteerd.
  p(ng-show='loadingPies') {{ui.dashboard.groupOverviews}}
  ul#pies(ng-hide='loadingPies || checkAnyPies()')
    li(ng-repeat='pie in pies')
      header
        h4
          | {{pie.name}}
          span(ng-show='(pie.division != "both")')  ({{ pie.division | translateDivision }})
      .blocks
        .span4
          .block
            .icon
              .scoreboard(class='{{pie.state.cls}}')
                span.state {{pie.state.diff + pie.state.wish}}
                span.seperator /
                span.wish {{pie.state.wish}}
            .body
              h3 {{ui.dashboard.currentState}}
              hr
              h5 {{pie.state.start}}
              small.muted van
              br
              h5 {{pie.state.end}}
              small.muted tot
        .span4
          .block
            .icon
              .pie(id='weeklyPieCurrent-{{pie.id}}-{{pie.division}}')
            .body
              h3 {{ui.dashboard.thisWeek}}
              hr
              small.muted {{pie.weeks.current.start.date}} / {{pie.weeks.current.end.date}}
              br
              h5 {{pie.weeks.current.ratios.more}}%
              small.muted {{ui.dashboard.statMore}}
              | ,
              h5 {{pie.weeks.current.ratios.even}}%
              small.muted {{ui.dashboard.statEven}}
              | ,
              h5 {{pie.weeks.current.ratios.less}}%
              small.muted {{ui.dashboard.statLess}}
        .span4
          .block
            .icon
              .pie(id='weeklyPieNext-{{pie.id}}-{{pie.division}}')
            .body
              h3 {{ui.dashboard.nextWeek}}
              hr
              small.muted {{pie.weeks.next.start.date}} / {{pie.weeks.next.end.date}}
              br
              h5 {{pie.weeks.next.ratios.more}}%
              small.muted {{ui.dashboard.statMore}}
              | ,
              h5 {{pie.weeks.next.ratios.even}}%
              small.muted {{ui.dashboard.statEven}}
              | ,
              h5 {{pie.weeks.next.ratios.less}}%
              small.muted {{ui.dashboard.statLess}}
  hr.lastline(ng-hide='loadingPies || checkAnyPies()')
  p(ng-hide='loadingPies || checkAnyPies()')
    small.pull-right
      span.text-warning {{ui.dashboard.periods}}:
      span.muted
        | {{periods.start}}
        | |
        | {{periods.end}}