<div class="page-header">
  <h2>Groups</h2>

  <div class="btn-group pull-right">
    <button type="submit" 
            class="btn btn-success">New Group</button>
    <button type="submit" 
            class="btn btn-success">New User</button>
  </div>

  <!-- Search members -->
  <form class="form-search pull-right" 
        style="display: inline;"
        ng-submit="searchMembers(search.q)">

    <div class="input-append">

      <input type="text" 
            class="span2 search-query" 
              ng-model="search.q">

      <button type="submit" class="btn"><i class="icon-search"></i> Search</button>

    </div>

  </form>
  <!-- End Search -->

</div>







<!-- Group Add / Edit
<div style="overflow: hidden">

  <!-- Add Group -->
<!--   <div class="btn-group"
        ng-hide="(groupFormView.add || groupFormView.edit)">

    <button class="btn btn-success"
            ng-click="groupFormView.add=true"><i class="icon-plus icon-white"></i> New group</button>
  </div> -->
  <!-- End Add Group -->

  <!-- Group Add / Edit Form -->
<!--   <form class="form-inline pull-left" 
        style="display: inline;" 
        ng-show="(groupFormView.add || groupFormView.edit)"
        ng-submit="groupSubmit(groupForm)">

    <h4 style="display: inline;">
      <span ng-show="groupFormView.add">Add Group</span>
      <span ng-show="groupFormView.edit">Edit Group</span>
    </h4>

    <input type="text" 
            class="span2"
            ng-model="groupForm.name">

    <button type="submit" 
            class="btn btn-success"
            ng-show="groupFormView.add">
      <i class="icon-plus icon-white"></i> Add group
    </button>

    <button type="submit" 
            class="btn btn-warning"
            ng-show="groupFormView.edit">
      <i class="icon-edit icon-white"></i> Save group
    </button>

    <button type="button" 
            class="btn"
            ng-click="groupFormView=false">Cancel</button>

  </form> -->
  <!-- Group Add / Edit Form -->
   
<!-- </div> -->
<!-- End Group Add / Edit -->



<!-- GROUPS & MEMBERS -->
<div class="tabbable tabs-left"
      ng-hide="searchView">

  <ul class="nav nav-tabs" 
      style="width: 170px;
              margin-right: -1px">
    <li ng-repeat="group in groups" 
        class="{{($index == 0) && 'active'}}">

      <a href="#grp-{{group.uuid}}" 
          data-toggle="tab"
          ng-click="fixTabHeight(group.uuid)">
        {{group.name}} ({{members[group.uuid].length}})
      </a>
    </li>
  </ul>

  <div class="tab-content"
        style="background-color: white; 
                border: 1px solid #ddd; 
                padding: 20px;">

    <div  ng-repeat="group in groups"
          class="{{($index == 0) && 'tab-pane active' || 'tab-pane'}}"
          id="grp-{{group.uuid}}">

      <div class="tab-header">
        <h3 class="pull-left">{{group.name}}</h3>

        <div class="pull-right">
          <button type="button" 
                  ng-click="editGroup(group)" 
                  class="btn"><i class="icon-edit"></i> Edit Group</button>
          <button type="button" 
                  ng-click="deleteGroup(group.uuid)" 
                  class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete Group</button>
        </div>

        <!-- <button type="button" 
                ng-click="" 
                style="margin-right: 15px"
                class="btn btn-success pull-right"><i class="icon-plus icon-white"></i> Add Members</button> -->
      </div>

      <hr>

      <p ng-hide="members[group.uuid].length > 0">There are no members in this group. Please add some.</p>

      <div ng-show="members[group.uuid].length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <input type="checkbox"
                        ng-model="selectionMaster"
                        ng-click="toggleSelection(group, selectionMaster)">
              </th>
              <th>Name</th>
              <th>Role</th>
              <th>Tel</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="member in members[group.uuid]">
              <td>
                <input type="checkbox"
                        ng-model="selection[member.uuid]"
                        ng-checked="selectionMaster">
              </td>
              <td><a href="#/profile/{{member.uuid}}/view">{{member.name}}</a></td>
              <td>{{member.resources.role|translateRole}}</td>
              <td>{{member.resources.PhoneAddress}}</td>
              <td>
                <div class="pull-right">
                  <a href="#/profile/{{member.uuid}}/edit" 
                    class="btn btn-mini"><i class="icon-edit"></i></a>
                  <button type="submit" 
                          ng-click="removeMember(member.uuid, group.uuid)" 
                          class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

        <button type="button" 
                ng-click="removeMembers(selection, group)" 
                class="btn btn-small btn-danger pull-left">
                <i class="icon-trash icon-white"></i> Remove Selected Members</button>

        <span class="muted pull-right">
          <small><i>There are {{members[group.uuid].length}} member(s)</i></small>
        </span>
      </div>



    </div>

  </div>

</div>
<!-- END GROUPS & MEMBERS -->



<!-- SEARCH RESULTS -->
<div class="tabbable tabs-left"
      ng-show="searchView">

  <ul class="nav nav-tabs" 
      style="width: 210px;
              margin-right: -1px">
              
    <li class="active">

      <a href="#src" 
          data-toggle="tab">
        Search results
      </a>
    </li>
  </ul>

  <div class="tab-content"
        style="background-color: white; 
                border: 1px solid #ddd; 
                padding: 20px;">

    <div  class="tab-pane active"
          id="src">

      <div class="tab-header">
        <h3 class="pull-left">Search results</h3>

        <button type="button" 
                ng-click="searchView=false" 
                style="margin-right: 15px"
                class="btn pull-right">Close</button>
      </div>

      <hr>

      <p ng-hide="candidates.length > 0">Sorry but we couldn't find what you are looking for.</p>

      <div ng-show="candidates.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Groups</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="candidate in candidates">
              <td>{{$index + 1}}</td>
              <td>{{candidate.name}}</td>
              <td>{{candidate.groups}}</td>
              <td>
              
                <select style="margin:0" 
                        ng-model="candidate.group" 
                        ng-options="group.name for group in groups">
                  <option value="">-- select a group --</option>
                </select>

                <button style="margin-left: 5px;" 
                        ng-click="addMember(candidate)" 
                        class="btn btn-success"><i class="icon-plus icon-white"></i> Add to group</button>

              </td>
            </tr>

          </tbody>
        </table>

        <button type="button" 
                ng-click="addMembers()" 
                class="btn btn-success pull-left">
                <i class="icon-plus icon-white"></i> Add Selected Members To Groups</button>

        <span class="muted pull-right"><i>There are {{candidates.length}} results in your query</i></span>
      </div>



    </div>

  </div>

</div>
<!-- END SEARCH RESULTS -->

