<div class="page-header">
  <h2>Groups</h2>

  <!-- groups buttons -->
  <div class="btn-group pull-right">

    <button type="button" 
            ng-click="fixTabHeight('addEditGroupTab'); addGroupForm()"
            class="btn btn-success {{(views.addGroup==true) && 'active'}}">New Group</button>

    <button type="button" 
            ng-click="fixTabHeight('newMemberTab'); newMemberForm()" 
            class="btn btn-success {{(views.newMember==true) && 'active'}}">New Member</button>

  </div>
  <!-- end groups buttons -->

  <!-- Search members -->
  <form class="form-search pull-right" 
        ng-submit="searchMembers(search.query)">
    <div class="input-append">
      <input type="text" 
              class="span2 search-query" 
              ng-model="search.query">
      <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
    </div>
  </form>
  <!-- End Search -->

</div>


<!-- groups and members -->
<div class="tabbable tabs-left">


  <!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app">
    
    <!-- add group tab link -->
    <li class="{{((views.addGroup==true) || (views.editGroup==true)) && 'active'}}"
        ng-show="views.addGroup || views.editGroup">
      <a href="#addEditGroupTab" 
          data-toggle="tab">
        <span class="entypo">&#9998;</span>
        <div ng-show="views.addGroup">Add New Group</div>
        <div ng-show="views.editGroup">Edit Group</div>
      </a>
    </li>
    <!-- end search tab link -->
    
    <!-- new member tab link -->
    <li class="{{(views.newMember==true) && 'active'}}"
        ng-show="views.newMember">
      <a href="#newMemberTab" 
          data-toggle="tab">
        <span class="entypo">&#59136;</span>
        New Member
      </a>
    </li>
    <!-- new member tab link -->
    
    <!-- search tab link -->
    <li class="{{(views.search==true) && 'active'}}"
        ng-show="views.search">
      <a href="#searchTab" 
          data-toggle="tab">
        <span class="entypo">&#128269;</span>
        Search results
      </a>
    </li>
    <!-- end search tab link -->

    <!-- group tab links -->
    <li ng-repeat="group in data.groups" 
        id="grpl-{{group.uuid}}" 
        class="{{($index == 0) && 'active' }}">
      <a href="#grp-{{group.uuid}}" 
          data-toggle="tab"
          ng-click="fixTabHeight('grp-' + group.uuid)">
          <span class="entypo">&#128101;</span> 
        {{group.name}}
      </a>
    </li>
    <!-- end group tab links -->

  </ul>
  <!-- end tabs links -->





  <!-- tabs content -->
  <div class="tab-content">





    <!-- add / edit group tab -->
    <div class="tab-pane {{((views.addGroup==true) || (views.editGroup==true)) && 'active'}}" 
          id="addEditGroupTab" 
          ng-show="views.addGroup || views.editGroup">

        <div class="tab-header">

          <h3 class="pull-left">
            <span ng-show="views.addGroup">Add New Group</span>
            <span ng-show="views.editGroup">Edit Group</span>
          </h3>

          <button type="button" 
                  ng-click="closeTabs()" 
                  class="btn pull-right">Close</button>
        </div>
        <hr>

        <!-- group form -->
        <form>
          <fieldset>
            
            <div class="control-group">
              <label class="control-label">Group Name</label>
              <div class="controls">
                <input type="text" 
                    class="span4" 
                    ng-model="groupForm.name">
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" 
                      ng-click="groupSubmit(groupForm)" 
                      class="btn btn-success">Save Group</button>
            </div>

          </fieldset>
        </form>
        <!-- end group form -->

    </div>
    <!-- end add / edit group tab -->





    <!-- new member tab -->
    <div class="tab-pane {{(views.newMember==true) && 'active'}}" 
          id="newMemberTab" 
          ng-show="views.newMember">

        <div class="tab-header">

          <h3 class="pull-left">New Member</h3>

          <button type="button" 
                  ng-click="closeTabs()" 
                  class="btn pull-right">Close</button>
        </div>
        <hr>

        <!-- member form -->
        <form>
          <fieldset>

            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input  type="text" 
                        class="span4" 
                        ng-model="memberForm.name">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Email</label>
              <div class="controls">
                <input  type="text" 
                        class="span4" 
                        ng-model="memberForm.EmailAddress">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Phone</label>
              <div class="controls">
                <input  type="text" 
                        class="span3" 
                        ng-model="memberForm.PhoneAddress">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Address</label>
              <div class="controls">
                <input  type="text" 
                        class="span5" 
                        ng-model="memberForm.PostAddress">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Postcode</label>
              <div class="controls">
                <input  type="text" 
                        class="span2" 
                        ng-model="memberForm.PostZip">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">City</label>
              <div class="controls">
                <input  type="text" 
                        class="span3" 
                        ng-model="memberForm.PostCity">
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" 
                  ng-click="memberSubmit(memberForm)" 
                  class="btn btn-success">Save Member</button>
            </div>

          </fieldset>
        </form>
        <!-- end member form -->

    </div>
    <!-- end new member tab -->





    <!-- search tab -->
    <div class="tab-pane {{(views.search==true) && 'active'}}" id="searchTab" ng-show="views.search">
      <div class="tab-header">
        <h3 class="pull-left">Search results for '{{search.queried}}'</h3>
        <button type="button" 
                ng-click="closeTabs()" 
                class="btn pull-right">Close</button>
      </div>
      <hr>
      <p ng-hide="candidates.length > 0">Sorry but we couldn't find what you are looking for.</p>
      <div ng-show="candidates.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Groups</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="candidate in candidates">
              <td>{{$index + 1}}</td>
              <td>{{candidate.name}}</td>
              <td>{{candidate.groups}}</td>
              <td>
                <select style="margin:0" 
                        ng-model="candidate.group" 
                        ng-options="group.name for group in groups">
                  <option value="">-- select a group --</option>
                </select>
                <button style="margin-left: 5px;" 
                        ng-click="addMember(candidate)" 
                        class="btn btn-success btn-small">Add to group</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" 
                ng-click="addMembers()" 
                class="btn btn-success btn-small pull-left">Add Selected Members To Groups</button>
        <span class="muted pull-right">
          <small><i>There are {{candidates.length}} results in your query.</i></small>
        </span>
      </div>
    </div>
    <!-- end search tab -->






    <!-- group tabs -->
    <div  ng-repeat="group in data.groups"
          class="tab-pane {{($index == 0) && 'active'}}"
          id="grp-{{group.uuid}}">
          <!-- ng-hide="views.search"> -->

      <div class="tab-header">
        <h3 class="pull-left">{{group.name}}</h3>
        <div class="pull-right">
          <button type="button" 
                  ng-click="fixTabHeight('addEditGroupTab'); editGroup(group)" 
                  class="btn"><i class="icon-edit"></i> Edit Group</button>
          <button type="button" 
                  ng-click="deleteGroup(group.uuid)" 
                  class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete Group</button>
        </div>
      </div>
      <hr>
      <p ng-hide="data.members[group.uuid].length > 0">
        There are no members in this group. Please add some.
      </p>
      <div ng-show="data.members[group.uuid].length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <input type="checkbox"
                        ng-model="selectionMaster"
                        ng-click="toggleSelection(group, selectionMaster)">
              </th>
              <th>Name</th>
              <th>Role</th>
              <th>Tel</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in data.members[group.uuid]">
              <td>
                <input type="checkbox"
                        ng-model="selection[member.uuid]"
                        ng-checked="selectionMaster">
              </td>
              <td><a href="#/profile/{{member.uuid}}/view">{{member.name}}</a></td>
              <td>{{member.resources.role|translateRole}}</td>
              <td>{{member.resources.PhoneAddress}}</td>
              <td>
                <div class="pull-right">
                  <a href="#/profile/{{member.uuid}}/edit" 
                    class="btn btn-mini"><i class="icon-edit"></i></a>
                  <button type="submit" 
                          ng-click="removeMember(member.uuid, group.uuid)" 
                          class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" 
                ng-click="removeMembers(selection, group)" 
                class="btn btn-small btn-danger pull-left">
                <i class="icon-trash icon-white"></i> Remove Selected Members</button>

        <span class="muted pull-right">
          <small><i>There are {{data.members[group.uuid].length}} member(s)</i></small>
        </span>
      </div>
    </div>
    <!-- end group tabs -->






  </div>
  <!-- end tabs content -->

</div>
<!-- end groups and members -->