
<!-- <div class="meny">
	<h2>More Experiments</h2>
	<ul>
		<li><a href="http://lab.hakim.se/avgrund/">Avgrund</a></li>
		<li><a href="http://lab.hakim.se/radar/">Radar</a></li>
		<li><a href="http://lab.hakim.se/forkit-js/">forkit.js</a></li>
		<li><a href="http://lab.hakim.se/scroll-effects/">stroll.js</a></li>
		<li><a href="http://lab.hakim.se/zoom-js">zoom.js</a></li>
		<li><a href="http://lab.hakim.se/reveal-js">reveal.js</a></li>
		<li><a href="http://itunes.apple.com/us/app/sinuous/id543097218">Sinuous for iOS</a></li>
		<li><a href="http://hakim.se/experiments/css/domtree/">DOM Tree</a></li>
		<li><a href="http://hakim.se/experiments/css/holobox/">Holobox</a></li>
		<li><a href="http://hakim.se/experiments/html5/404/netmag.html">404</a></li>
	</ul>
</div>

<div class="meny-arrow"></div> -->




<div id="welcome">

	<!-- preloader -->
	<div id="preloader">
		<img src="img/login_knrm_logo.png" alt="KNRM" />
		<!-- <h2>WebPaige</h2> -->
	  <h4>Setting up the application</h4>
	  <div class="progress progress-striped active" class="span3">
	    <div class="bar"></div>
	  </div>
	  <span class="muted"></span>
	</div>
	<!-- end preloader -->



	<!-- loginForm -->
	<div id="login" ng-show="views.login">
		<form ng-submit="login()">
		  <img src="img/login_knrm_logo.png" alt="KNRM" />
			<!-- <h2>WebPaige</h2> -->
		  <h4 class="form-signin-heading">Please sign in</h4>

      <!-- alert login -->
      <div class="alert {{alert.login.type}}" ng-show="alert.login.display">
        <button class="close" type="button" ng-click="alert.login=false">×</button>
        {{alert.login.message}}
      </div>
      <!-- end login password -->

		  <input 
		    class="" 
		    type="text" 
		    ng-model="logindata.username"
		    placeholder="Username" 
		    autofocus>

		  <input 
		      class="" 
		      type="password" 
		      ng-model="logindata.password"
		      placeholder="Password">

		  <label class="checkbox span3">
		    <input 
		      type="checkbox" 
		      ng-model="logindata.remember">Remember me
		  </label>

		  <button class="btn btn-large btn-primary" type="submit">Sign in</button>

		  <p><small><a ng-click="views.forgot=true; views.login=false">forgot your password?</a></small></p>

		  <span class="version">v2.0.0</span>
		</form>
	</div>
	<!-- end loginForm -->



	<!-- remember login -->
	<div id="forgot" ng-show="views.forgot">
		<form ng-submit="forgot()">
		  <img src="img/login_knrm_logo.png" alt="KNRM" />
			<!-- <h2>WebPaige</h2> -->
		  <h4 class="form-signin-heading">Please sign in</h4>

	    <!-- <div id="alertDiv" class="alert alert-error">
	      <button id="alertClose" class="close" type="button" onclick="$('#alertDiv').hide()">×</button>
	      <span id="alertMessage"></span>
	    </div> -->

		  <input 
		    class="" 
		    type="text" 
		    ng-model="remember.id"
		    placeholder="username">

		  <button class="btn btn-large btn-primary" type="submit">Reset Password</button>

		  <p><small><a ng-click="views.login=true; views.forgot=false">return back to login</a></small></p>

		  <span class="version">v2.0.0</span>
		</form>
	</div>
	<!-- end remember login -->
	
</div>

<!-- download mobile app -->
<div id="download">
	<button class="btn btn-large btn-success" type="submit">
		<span class="entypo">&#128241;</span>
		<span class="msg">Download Mobile App</span>
	</button>
</div>
<!-- end download mobile app -->
