
<!-- <div class="meny">
	<h2>More Experiments</h2>
	<ul>
		<li><a href="http://lab.hakim.se/avgrund/">Avgrund</a></li>
		<li><a href="http://lab.hakim.se/radar/">Radar</a></li>
		<li><a href="http://lab.hakim.se/forkit-js/">forkit.js</a></li>
		<li><a href="http://lab.hakim.se/scroll-effects/">stroll.js</a></li>
		<li><a href="http://lab.hakim.se/zoom-js">zoom.js</a></li>
		<li><a href="http://lab.hakim.se/reveal-js">reveal.js</a></li>
		<li><a href="http://itunes.apple.com/us/app/sinuous/id543097218">Sinuous for iOS</a></li>
		<li><a href="http://hakim.se/experiments/css/domtree/">DOM Tree</a></li>
		<li><a href="http://hakim.se/experiments/css/holobox/">Holobox</a></li>
		<li><a href="http://hakim.se/experiments/html5/404/netmag.html">404</a></li>
	</ul>
</div>

<div class="meny-arrow"></div> -->




<div id="welcome">

	<!-- preloader -->
	<div id="preloader">
		<img src="img/login_knrm_logo.png" alt="KNRM" />
		<!-- <h2>WebPaige</h2> -->
	  <h4>Setting up the application</h4>
	  <div class="progress progress-striped active" class="span3">
	    <div class="bar"></div>
	  </div>
	  <span class="muted"></span>
	</div>
	<!-- end preloader -->

	<!-- loginForm -->
	<div id="login">
		<form ng-submit="login()">
		  <img src="img/login_knrm_logo.png" alt="KNRM" />
			<!-- <h2>WebPaige</h2> -->
		  <h4 class="form-signin-heading">Please sign in</h4>

	    <!-- <div id="alertDiv" class="alert alert-error">
	      <button id="alertClose" class="close" type="button" onclick="$('#alertDiv').hide()">×</button>
	      <span id="alertMessage"></span>
	    </div> -->

		  <input 
		    class="" 
		    type="text" 
		    ng-model="logindata.username"
		    placeholder="Username" 
		    autofocus>
		  <input 
		      class="" 
		      type="password" 
		      ng-model="logindata.password"
		      placeholder="Password">
		  <label class="checkbox span3">
		    <input 
		      type="checkbox" 
		      ng-model="logindata.remember">Remember me
		  </label>
		  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		  <span class="version">v2.0.0</span>
		</form>
	</div>
	<!-- end loginForm -->

</div>