<div class="page-header">
  <h2>{{resources.name}}</h2>
</div>


<!-- profile -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app">

      <li class="{{(views.view==true) && 'active'}}">
        <a href="#profileTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('profileTab')"><span class="entypo">&#128100;</span> Profile</a>
      </li>

      <li class="{{(views.edit==true) && 'active'}}">
        <a href="#editTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('editTab')"><span class="entypo">&#9998;</span> Edit</a>
      </li>

      <li class="{{(views.password==true) && 'active'}}" ng-show="views.user">
        <a href="#passwordTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('passwordTab')"><span class="entypo">&#128274;</span> Password</a>
      </li>

      <li class="{{(views.timeline==true) && 'active'}}">
        <a href="#userTimelineTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('userTimelineTab')"><span class="entypo">&#128340;</span> Timeline</a>
      </li>
    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">

      
      <!-- profileTab -->
      <div class="tab-pane {{(views.view==true) && 'active'}}" id="profileTab">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Profile View</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- profile info -->
        <dl>
          <dt>Email</dt>
            <dd>{{resources.EmailAddress}}</dd>
          <dt>Phone</dt>
            <dd>{{resources.PhoneAddress}}</dd>
          <dt>Address</dt>
            <dd>{{resources.PostAddress}}</dd>
          <dt>Postcode</dt>
            <dd>{{resources.PostZip}}</dd>
          <dt>City</dt>
            <dd>{{resources.PostCity}}</dd>
        </dl>
        <!-- end profile info -->

      </div>
      <!-- end profileTab -->



      <!-- editTab -->
      <div class="tab-pane {{(views.edit==true) && 'active'}}" id="editTab">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Edit Profile</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- alert edit -->
        <div class="alert {{alert.edit.type}}" ng-show="alert.edit.display">
          <button class="close" type="button" ng-click="alert.edit=false">×</button>
          {{alert.edit.message}}
        </div>
        <!-- end alert edit -->

        <!-- edit profile form -->
        <form class="form-vertical">

          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input  type="text" 
                      class="span4" 
                      ng-model="resources.name"
                      value="{{resources.name}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <input  type="text" 
                      class="span4" 
                      ng-model="resources.EmailAddress"
                      value="{{resources.EmailAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
              <input  type="text" 
                      class="span3" 
                      ng-model="resources.PhoneAddress"
                      value="{{resources.PhoneAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
              <input  type="text" 
                      class="span5" 
                      ng-model="resources.PostAddress"
                      value="{{resources.PostAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Postcode</label>
            <div class="controls">
              <input  type="text" 
                      class="span2" 
                      ng-model="resources.PostZip"
                      value="{{resources.PostZip}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">City</label>
            <div class="controls">
              <input  type="text" 
                      class="span3" 
                      ng-model="resources.PostCity"
                      value="{{resources.PostCity}}">
            </div>
          </div>

          <hr>

          <div class="control-group">
            <div class="controls">
              <button   type="submit" 
                        class="btn btn-success"
                        ng-click="save(resources)">Save</button>
            </div>
          </div>

        </form>
        <!-- end edit profile form -->

      </div>
      <!-- end editTab -->



      <!-- passwordTab -->
      <div class="tab-pane {{(views.password==true) && 'active'}}" id="passwordTab" ng-show="views.user">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Password Change</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- alert password -->
        <div class="alert {{alert.password.type}}" ng-show="alert.password.display">
          <button class="close" type="button" ng-click="alert.password=false">×</button>
          {{alert.password.message}}
        </div>
        <!-- end alert password -->

        <!-- password form -->
        <form class="form-vertical">

          <div class="control-group">
            <label class="control-label">Current password</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.current">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">New password</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.new1">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">New password (Repeat)</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.new2">
            </div>
          </div>

          <hr>

          <div class="control-group">
            <div class="controls">
              <button   type="submit" 
                        class="btn btn-success"
                        ng-click="change(passwords)">Change password</button>
            </div>
          </div>

        </form>
        <!-- end password form -->

      </div>
      <!-- end passwordTab -->



      <!-- userTimelineTab -->
      <div class="tab-pane {{(views.timeline==true) && 'active'}}" id="userTimelineTab">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">User Timeline</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- user timeline -->
        <!-- end user timeline -->

      </div>
      <!-- end userTimelineTab -->



    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end profile -->



