<div class="page-header">
  <h2>{{data.resources.name}}</h2>
</div>

<!-- profile -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app">
      
      <li class="{{(views.profile==true) && 'active'}}">
        <a href="#profileTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('profileTab'); setViewTo('profile')">
          <span class="entypo">&#128100;</span> Profile
        </a>
      </li>

      <li class="{{(views.edit==true) && 'active'}}">
        <a href="#editTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('editTab'); setViewTo('edit')">
          <span class="entypo">&#9998;</span> Edit
        </a>
      </li>

      <li class="{{(views.password==true) && 'active'}}" ng-show="views.user">
        <a href="#passwordTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('passwordTab'); setViewTo('password')">
          <span class="entypo">&#128274;</span> Password
        </a>
      </li>

      <li class="{{(views.timeline==true) && 'active'}}" ng-hide="views.user">
        <a href="#userTimelineTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('userTimelineTab'); setViewTo('timeline'); redraw()">
          <span class="entypo">&#128340;</span> Timeline
        </a>
      </li>

    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">



      
      <!-- profileTab -->
      <div class="tab-pane {{(views.profile==true) && 'active'}}" id="profileTab">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Profile View</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- profile info -->
        <dl>
          <dt>User Groups</dt>
            <dd>
              <span ng-repeat="group in groups">
                <a href="#/groups?uuid={{group.uuid}}#view">{{group.name}}</a>,
              </span>
          </dd>
          <dt>Role</dt>
            <dd>{{data.resources.role|translateRole}}</dd>
          <dt>Email</dt>
            <dd>{{data.resources.EmailAddress}}</dd>
          <dt>Phone</dt>
            <dd>{{data.resources.PhoneAddress}}</dd>
          <dt>Address</dt>
            <dd>{{data.resources.PostAddress}}</dd>
          <dt>Postcode</dt>
            <dd>{{data.resources.PostZip}}</dd>
          <dt>City</dt>
            <dd>{{data.resources.PostCity}}</dd>
        </dl>
        <!-- end profile info -->

      </div>
      <!-- end profileTab -->



      <!-- editTab -->
      <div class="tab-pane {{(views.edit==true) && 'active'}}" id="editTab">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Edit Profile</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- alert edit -->
        <div class="alert {{alert.edit.type}}" ng-show="alert.edit.display">
          <button class="close" type="button" ng-click="alert.edit=false">×</button>
          {{alert.edit.message}}
        </div>
        <!-- end alert edit -->

        <!-- edit profile form -->
        <form class="form-vertical">

          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input  type="text" 
                      class="span4" 
                      ng-model="resources.name"
                      value="{{data.resources.name}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <input  type="text" 
                      class="span4" 
                      ng-model="resources.EmailAddress"
                      value="{{data.resources.EmailAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
              <input  type="text" 
                      class="span3" 
                      ng-model="resources.PhoneAddress"
                      value="{{data.resources.PhoneAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
              <input  type="text" 
                      class="span5" 
                      ng-model="resources.PostAddress"
                      value="{{data.resources.PostAddress}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Postcode</label>
            <div class="controls">
              <input  type="text" 
                      class="span2" 
                      ng-model="resources.PostZip"
                      value="{{data.resources.PostZip}}">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">City</label>
            <div class="controls">
              <input  type="text" 
                      class="span3" 
                      ng-model="resources.PostCity"
                      value="{{data.resources.PostCity}}">
            </div>
          </div>

          <div class="form-actions">
            <button   type="submit" 
                      class="btn btn-success"
                      ng-click="save(resources)">Save Profile</button>
          </div>

        </form>
        <!-- end edit profile form -->

      </div>
      <!-- end editTab -->



      <!-- passwordTab -->
      <div class="tab-pane {{(views.password==true) && 'active'}}" id="passwordTab" ng-show="views.user">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Password Change</h3>
        </div>
        <!-- end tab header -->
        <hr>

        <!-- alert password -->
        <div class="alert {{alert.password.type}}" ng-show="alert.password.display">
          <button class="close" type="button" ng-click="alert.password=false">×</button>
          {{alert.password.message}}
        </div>
        <!-- end alert password -->

        <!-- password form -->
        <form class="form-vertical">

          <div class="control-group">
            <label class="control-label">Current password</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.current">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">New password</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.new1">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">New password (Repeat)</label>
            <div class="controls">
              <input  type="password" 
                      class="span3" 
                      ng-model="passwords.new2">
            </div>
          </div>

          <div class="form-actions">
            <button   type="submit" 
                      class="btn btn-success"
                      ng-click="change(passwords)">Change password</button>
          </div>

        </form>
        <!-- end password form -->

      </div>
      <!-- end passwordTab -->


      <!-- userTimelineTab -->
      <div class="tab-pane {{(views.timeline==true) && 'active'}}" 
            id="userTimelineTab"
            ng-hide="views.user">

        <!-- tab header -->
        <div style="overflow: hidden; height: 35px">
          <h3 style="margin-top: 0;" class="pull-left">Timeline</h3>

          <div class="btn-group pull-right">
            <button type="submit" 
                    ng-click="toggleSlotForm()" 
                    class="btn btn-success {{(forms.add==true) && 'active'}}">New Availability</button>
          </div>

        </div>
        <!-- end tab header -->
        <hr>


        <!-- timeline controls -->
        <div class="row-fluid" id="timeline-controls">

          <!-- core timeline controls -->
          <div class="pull-left" style="margin-top: 10px">

            <!-- this week -->
            <div class="btn-group pull-left" 
                  style="margin-right: 5px">

              <button type="button" 
                      class="btn"
                      ng-click="timelineThisWeek()">This Week</button>

            </div>
            <!-- end this week -->

            <!-- timeline navigation -->
            <div class="btn-group pull-left" 
                  style="margin-right: 5px">

              <button type="button" 
                      class="btn"
                      ng-click="timelineBefore(timeline.scope)"><i class="icon-arrow-left"></i></button>

              <button type="button" 
                      class="btn"
                      ng-click="timelineAfter(timeline.scope)"><i class="icon-arrow-right"></i></button>  

            </div>
            <!-- end timeline navigation -->

            <!-- timeline zooms -->
            <div class="btn-group pull-left"
                  style="margin-right: 5px">

              <button type="button" 
                      class="btn"
                      ng-click="timelineZoomIn()"><i class="icon-zoom-in"></i></button>

              <button type="button" 
                      class="btn"
                      ng-click="timelineZoomOut()"><i class="icon-zoom-out"></i></button> 

            </div>
            <!-- end timeline zooms -->

          </div>
          <!-- end core timeline controls -->

          <!-- range indicator -->
          <div class="pull-right" style="text-align: right">
            <h4 style="font-weight: normal">
              {{timeline.range|rangeMainWeekFilter}}<br>
              <!-- timeline scope info -->
              <div style="font-size: 15px; font-weight: lighter">
              <span>{{timeline|rangeInfoWeekFilter}}</span>
              </div>
              <!-- end timeline scope info -->
            </h4>
          </div>
          <!-- end range indicator -->

        </div>
        <!-- end timeline controls -->



        <!-- slot controls -->
        <div id="form-open" class="row-fluid" ng-show="forms.add || forms.edit">

          <form class="form-inline form-toggled">

            <!-- close btn -->
            <button ng-click="resetInlineForms()" 
                    class="close">&times;</button>
            <!-- end close btn -->
          
            <h4 ng-show="forms.add">New Availability</h4>
            <h4 ng-show="forms.edit">Update Availability</h4>

            <hr>

            <!-- slot start -->
            <div class="form-elements-group">
              <label>From</label>
              <!-- date -->
              <div class="control-group dater">
                <input  name="date-start" 
                        type="text" 
                        ng-model="slot.start.date" 
                        data-date-format="dd-mm-yyyy" 
                        bs-datepicker="">
                <i class="icon-calendar"></i>
              </div>
              <!-- end date -->
              <!-- time -->
              <div class="control-group timer">
                <input  name="time-start" 
                        type="text" 
                        ng-model="slot.start.time" 
                        bs-timepicker>
                <i class="icon-time"></i>
              </div>
              <!-- end time -->
            </div>
            <!-- end slot start -->


            <!-- slot end -->
            <div class="form-elements-group">
              <label>Till</label>
              <!-- date -->
              <div class="control-group dater">
                <input  name="date-end" 
                        type="text" 
                        ng-model="slot.end.date" 
                        data-date-format="dd-mm-yyyy" 
                        bs-datepicker="">
                <i class="icon-calendar"></i>
              </div>
              <!-- end date -->
              <!-- time -->
              <div class="control-group timer">
                <input  name="time-end" 
                        type="text" 
                        ng-model="slot.end.time" 
                        bs-timepicker>
                <i class="icon-time"></i>
              </div>
              <!-- end time -->
            </div>
            <!-- end slot end -->


            <!-- slot state -->
            <div class="form-elements-group">
              <label>State</label>
              <select ng-model="slot.state" 
                      ng-options="option as value for (option, value) in states">
                <option value="">select a state</option>
              </select>
            </div>
            <!-- end slot state -->


            <!-- slot recursive -->
            <div class="form-elements-group">
              <label>Re-occuring</label>
              <input type="checkbox" ng-model="slot.recursive">
            </div>
            <!-- end slot recursive -->


            <!-- slot actions -->
            <div class="form-elements-actions pull-right">
              
              <div ng-show="forms.add">
                <button type="button" 
                        ng-click="slotAdd(slot)" 
                        class="btn btn-success">Add</button>
              </div>

              <div ng-show="forms.edit">
                <button type="button" 
                        ng-click="slotChange(original, slot)" 
                        class="btn btn-success">Change</button>
                <button type="button" 
                        ng-click="slotRemove()" 
                        class="btn btn-danger">Delete</button>
              </div>

            </div>
            <!-- end slot actions -->


          </form>
          
        </div>
        <!-- end slot controls -->


        <!-- user timeline -->

        <!-- timeline -->
        <div id="timeline">

          <!-- user timeline -->
          <div id="userTimeline"></div>
          <!-- end user timeline -->
          
        </div>
        <!-- end timeline -->
        
        <hr>
        <!-- planbaord footer -->
        <p>
          <small class="pull-left">
            <span class="text-warning">Last sync time: </span>
            <span class="muted">{{synced | nicelyDate}}</span>
          </small>
        </p>
        <!-- end planbaord footer -->

        <!-- end user timeline -->

      </div>
      <!-- end userTimelineTab -->



    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end profile -->



