#announcements {
  margin-top: 5px;

  ul {
    list-style: none;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    li {
      border-bottom:1px solid #d3d1c4;
      padding: 10px;
      margin: 0;
      &:nth-child(odd) {
        background-color: #f2f1ed;
      }
      &:nth-child(even) {
        background-color: #f9f9f9;
      }
      table {
        margin: 5px 0;
        tr {
          vertical-align: top;
          td {
            h5 {
              margin-bottom: 2px;
              font-weight: normal;
            }
            p {
              font-size: 13px;
            }
            .sender {
              display: block;
              font-size: 13px;
              float: right;
            }
            .muted {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}



.head {
  overflow: hidden;

  h4 {
    margin-top: 20px;
    display: inline;
  }

  button {
    float: right;
    padding-left: 6px;
    padding-right: 6px;
  }
}