#timeline {
}

#timeline-controls {
  padding-bottom: 20px;
  overflow: hidden;
}

#timeline-toolbar {
  overflow: hidden;
  padding: 0 0 0 0;
  height: 35px;

  select {
    margin: 0;
    padding: 0;
    width: 160px;

    &:last-child {
      margin-left: 10px;
    }
  }

  .btn-group {
    margin-left: 10px;
  }
}

#stats {
  overflow: hidden;

  #groupStats {
    display: block;
    overflow: hidden;

    .groupPies {
      float: left;
      width: 235px;
      height: 270px;

      margin-right: 25px;
    }

    .groupStatInfo {
      margin-top: 40px;

      ul {
        list-style: none;

        li {
          width: auto;
          margin-right: 30px;
          float: left;
          margin-bottom: 30px;
          display: inline;

          div {
            float: left;
            height: 40px;
          }

          .ratios {
            margin-right: 15px;
            margin-top: -5px;
            width: 75px;
            height: 75px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;

            .ratio {
              display: block;
              font-size: 38px;
              font-weight: bold;
            }

            .percentage {
              display: block;
              margin-top: -5px;
            }
          }

          .more {
            // background-color: #415e6b;
            background-color: #6cad6c;
          }

          .even {
            // background-color: #ba6a24;
            background-color: #e09131;
          }

          .less {
            // background-color: #a0a0a0;
            background-color: #d34545;
          }

          .info {
            margin-top: -5px;

            h5 {
              display: inline;

              &:first-child {
                margin-top: 0;
              }
            }

            h4 {
              padding-bottom: 10px;
              border-bottom: 1px solid #ddd;
            }

            small {
            }
          }
        }
      }
    }
  }
}

#memberBars {
  ul {
    list-style: none;

    li {
      float: left;
      width: 280px;
      height: 110px;
      margin-right: 30px;
      margin-bottom: 30px;

      h4 {
      }

      .progress {
        margin-bottom: 5px;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;

        .bar {
          width: 100%;
        }

        .bar-Available {
          background-color: #6cad6c;
          background-image: -moz-linear-gradient(top, #6cad6c, #6cad6c);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6cad6c), to(#6cad6c));
          background-image: -webkit-linear-gradient(top, #6cad6c, #6cad6c);
          background-image: -o-linear-gradient(top, #6cad6c, #6cad6c);
          background-image: linear-gradient(to bottom, #6cad6c, #6cad6c);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6cad6c', endColorstr='#ff6cad6c', GradientType=0);
        }

        .bar-BeschikbaarZuid {
          background-color: #8a85c7;
          background-image: -moz-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a85c7), to(#8a85c7));
          background-image: -webkit-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: -o-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: linear-gradient(to bottom, #8a85c7, #8a85c7);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a85c7', endColorstr='#ff8a85c7', GradientType=0);
        }

        .bar-BeschikbaarNoord {
          background-color: #242424;
          background-image: -moz-linear-gradient(top, #242424, #242424);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#242424), to(#242424));
          background-image: -webkit-linear-gradient(top, #242424, #242424);
          background-image: -o-linear-gradient(top, #242424, #242424);
          background-image: linear-gradient(to bottom, #242424, #242424);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a1a1a', endColorstr='#ff242424', GradientType=0);
        }

        .bar-SchipperVanDienst {
          background-color: #f6e500;
          background-image: -moz-linear-gradient(top, #f6e500, #f6e500);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6e500), to(#f6e500));
          background-image: -webkit-linear-gradient(top, #f6e500, #f6e500);
          background-image: -o-linear-gradient(top, #f6e500, #f6e500);
          background-image: linear-gradient(to bottom, #f6e500, #f6e500);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6e500', endColorstr='#fff6e500', GradientType=0);
        }

        .bar-Unavailable {
          background-color: #d34545;
          background-image: -moz-linear-gradient(top, #d34545, #d34545);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d34545), to(#d34545));
          background-image: -webkit-linear-gradient(top, #d34545, #d34545);
          background-image: -o-linear-gradient(top, #d34545, #d34545);
          background-image: linear-gradient(to bottom, #d34545, #d34545);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd34545', endColorstr='#ffd34545', GradientType=0);
        }

        .bar-Unreached {
          background-color: #8a85c7;
          background-image: -moz-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a85c7), to(#8a85c7));
          background-image: -webkit-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: -o-linear-gradient(top, #8a85c7, #8a85c7);
          background-image: linear-gradient(to bottom, #8a85c7, #8a85c7);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a85c7', endColorstr='#ff8a85c7', GradientType=0);
        }

        .bar-NoPlanning {
          background-color: #ececec;
          background-image: -moz-linear-gradient(top, #ececec, #ececec);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#ececec));
          background-image: -webkit-linear-gradient(top, #ececec, #ececec);
          background-image: -o-linear-gradient(top, #ececec, #ececec);
          background-image: linear-gradient(to bottom, #ececec, #ececec);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffececec', endColorstr='#ffececec', GradientType=0);
        }
      }

    }
  }
}

/*legenda*/
.legenda {
  background-color: #f5f4ee;
  padding-top: 10px;
  margin-top: -20px;
}

.legenda-row {
  overflow: hidden;
  display: block;
  margin: 10px 20px;

  strong {
    width: 90px;
    display: inline;
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    margin-top: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-right: 15px;
      border-right: 1px solid #ddd;
      padding-right: 15px;
      min-width: 135px;
      font-size: 11px;

      &:last-child {
        margin-right: 0;
        border-right: none;
        padding-right: 0;
      }

      label {
        font-size: 11px;

        &:hover {
          cursor: pointer;
          color: #65619b;
        }
      }

      input {
        margin: -2px 4px 0 0;
        vertical-align: middle;
      }
    }
  }

  .square {
    display: block;
    height: 12px;
    width: 12px;
    // margin-top: 4px;
  }
}

.last-legenda-row {
  margin-bottom: -5px;
}

.legenda-row .legenda-no-state .square {
  background-color: #6cad6c;
}

.legenda-row .legenda-state-available .square {
  background-color: #6cad6c;
}

.legenda-row .legenda-state-available-north .square {
  background-color: #242424;
}

.legenda-row .legenda-state-available-south .square {
  // background-color: #8a85c7;
  background-color: #8a85c7;
}

.legenda-row .legenda-state-unavailable .square {
  background-color: #d34545;
}

.legenda-row .legenda-state-schipper-service .square {
  background-color: #f6e500;
}

//.legenda-row .legenda-state-unreached .square {
//  background-color: #65619b;
//}

.legenda-row .legenda-more .square {
  // background-color: #415e6b;
  background-color: #6cad6c;
}

.legenda-row .legenda-even .square {
  background-color: #e09131;
}

.legenda-row .legenda-less .square {
  // background-color: #a0a0a0;
  background-color: #d34545;
}

#legends {
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  ul {
    margin-left: 1px;
    list-style: none;

    li {
      display: inline;
      float: left;
      margin-right: 25px;
      list-style-image: none;
    }
  }
}

.square {
  float: left;
  margin-top: 1px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

div.bar span {
  font-size: 9px;
}

div.timeline-frame {
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 30px;
}

div.timeline-axis {
  background-color: #676153;
  color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-top-style: solid;
}

div.timeline-axis-grid {
  border-left-style: solid;
  border-width: 1px;
}

div.timeline-axis-grid-minor {
  border-color: #e5e5e5;
}

div.timeline-axis-grid-major {
  border-color: #bfbfbf;
}

div.timeline-axis-text {
  /*color: #4D4D4D;*/
  color: #f5f4ee;
  padding: 3px;
  white-space: nowrap;
  font-size: 11px;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
  /*color: #1A1A1A;*/
  /*border-color: #ddd;*/
  /*background-color: #D5DDF6;*/
  display: inline-block;

  /*padding: 0;*/

  background-color: #ddd;
}

div.timeline-event-selected {
  border-color: #FFC200;
  /*background-color: #676153;*/
  opacity: .7;
  z-index: 999;
}

div.timeline-event-cluster {
  /* TODO: use another color or pattern? */
  background: #97B0F8 url('../images/timeline/cluster_bg.png');
  color: white;
}

div.timeline-event-cluster div.timeline-event-dot {
  border-color: #D5DDF6;
}

div.timeline-event-box {
  text-align: center;
  /*border-style: solid;
  border-width: 1px;*/
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-dot {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-range {
  /*border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range-drag-left {
  cursor: w-resize;
  z-index: 1000;
}

div.timeline-event-range-drag-right {
  cursor: e-resize;
  z-index: 1000;
}

div.timeline-event-line {
  border-left-width: 1px;
  border-left-style: solid;
}

div.timeline-event-content {
  /*    margin: 5px;
      white-space: nowrap;
      overflow: hidden;*/

  /*background-color: #ddd*/
}

div.timeline-groups-axis {
  border-color: #BEBEBE;
  border-width: 1px;
}

div.timeline-groups-text {
  color: #4D4D4D;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}

div.timeline-currenttime {
  background-color: #FF7F6E;
  width: 2px;
  z-index: 150;
}

div.timeline-customtime {
  background-color: #6E94FF;
  width: 2px;
  cursor: move;
  z-index: 150;
}

/*div.timeline-navigation {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: gray;

    border: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    border-radius: 2px;
    -moz-border-radius: 2px;  */
/* For Firefox 3.6 and older */
/*}

div.timeline-navigation-new, 
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, 
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    cursor: pointer;
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    border-color: #BEBEBE; */
/* border is used for the separator between new and navigation buttons */
/*
    width: 16px;
    height: 16px;
}*/

/*div.timeline-navigation-new {
    background: url('../images/timeline/16/new.png') no-repeat center;
}*/

div.timeline-navigation-delete {
  padding: 0px;
  padding-left: 5px;
  /*background: url('images/16/delete.png') no-repeat center;*/
  display: inline-block;
  margin-top: 2px;
  margin-left: -16px;
  width: 14px;
  height: 14px;
  background-image: url("../images/glyphicons-halflings.png");
  /*background-position: -10px 1px;*/
  background-repeat: no-repeat;
  vertical-align: text-top;
  line-height: 14px;
  *margin-right: .3em;
  background-position: -48px -97px;
  z-index: 10000;
}

div.timeline-navigation-delete:hover {
  cursor: pointer
}

/*div.timeline-navigation-zoom-in {
    background: url('../images/timeline/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('../images/timeline/16/zoomout.png') no-repeat center;
}
*/

div.timeline-navigation-move-left {
  background: url('../images/timeline/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
  background: url('../images/timeline/16/moveright.png') no-repeat center;
}

/*.available {
  margin:0;*/
/* padding: 5px; */
/*background-color: #6cad6c;*/
/*  background-color: #6cad6c;
  border-bottom: 10px solid #6cad6c;
  text-indent: -9999px;*/
/*
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
*/
/*}*/

/*.availableS {
  margin:0;*/
/*   background-color: #69b369; 
  background-color: #6cad6c;
  text-indent: -9999px;
  border-top: 10px solid #8a85c7;
}*/

/*.availableN {
  margin:0;*/
/* background-color: #3e673e;
background-color: #6cad6c;
border-top: 10px solid black;
text-indent: -9999px;
}

.schipper {
margin:0;
/* background-color: #3e673e; */
/*  background-color: #6cad6c;
  border-top: 10px solid #f6e500;
  text-indent: -9999px;
}*/

/*.unreachable {
  margin:0;*/
/* background-color: #3e673e; */
/*  background-color: #65619b;
  border-top: 10px solid #65619b;
  text-indent: -9999px;
}*/

/*.unavailable {
  margin: 0;
  background-color: #d34545;
  border-top: 10px solid #d34545;
  text-indent: -9999px;
}
*/

div.timeline-event.state-available {
  margin: 0;
  background-color: #6cad6c;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

.bars-more {
  background-color: #6cad6c;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

.bars-less {
  background-color: #d34545;

  &:hover {
    background-color: lighten(#d34545, 10%);
  }
}

.bars-even {
  background-color: #e09131;

  &:hover {
    background-color: lighten(#e09131, 10%);
  }
}

div.timeline-event.state-available-south {
  margin: 0;
  background-color: #65619b;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#65619b, 10%);
  }
}

div.timeline-event.state-available-north {
  margin: 0;
  background-color: #242424;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#242424, 10%);
  }
}

div.timeline-event.state-schipper-service {
  margin: 0;
  background-color: #f6e500;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#f6e500, 10%);
  }
}

div.timeline-event.state-unreached {
  margin: 0;
  background-color: #8a85c7;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#8a85c7, 10%);
  }
}

div.timeline-event.state-unavailable {
  margin: 0;
  background-color: #d34545;
  //    text-indent: -9999px;

  &:hover {
    background-color: lighten(#d34545, 10%);
  }
}

div.timeline-event.state-new {
  margin: 0;
  background-color: #ececec;
  //    text-indent: -9999px;
}

div.timeline-event div.timeline-event-content span.secret {
  font-size: 0px !important;
  text-indent: -9999px !important;
}

.state-loading-left {
  margin: 0;
  background-color: #ddd;
  /*border:1px solid #6cad6c;*/
  border-bottom: 10px solid #ddd;
  // text-indent: -9999px;
  text-align: right;
}

.state-loading-right {
  margin: 0;
  background-color: #ddd;
  /*border:1px solid #6cad6c;*/
  border-bottom: 10px solid #ddd;
  // text-indent: -9999px;
  text-align: left;
}

.group-aggs {
  border: none;
  padding: 0;
  height: 100px;
}

div.timeline-event.agg-less {
  margin: 0;
  //    background-color: #a0a0a0;
  background-color: #d34545;
  /*border:1px solid #a0a0a0;*/
  /*border-bottom: 10px solid #a0a0a0;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#d34545, 10%);
  }
}

div.timeline-event.agg-even {
  margin: 0;
  background-color: #e09131;
  /*border:1px solid #ba6a24;*/
  /*border-bottom: 10px solid #ba6a24;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#e09131, 10%);
  }
}

div.timeline-event.agg-1 {
  margin: 0;
  // background-color: #415e6b;
  background-color: #6cad6c;
  /*border:1px solid #415e6b;*/
  /*border-bottom: 10px solid #415e6b;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-2 {
  margin: 0;
  // background-color: #3d5865;
  background-color: #6cad6c;
  //  background-color: #477547;
  /*border:1px solid #3d5865;*/
  /*border-bottom: 10px solid #3d5865;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-3 {
  margin: 0;
  // background-color: #344c58;
  background-color: #6cad6c;
  // background-color: #436f43;
  /*border:1px solid #344c58;*/
  /*border-bottom: 10px solid #344c58;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-4 {
  margin: 0;
  // background-color: #2f4550;
  background-color: #6cad6c;
  // background-color: #3d673d;
  /*border:1px solid #2f4550;*/
  /*border-bottom: 10px solid #2f4550;*/

  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-5 {
  margin: 0;
  // background-color: #2c424c;
  background-color: #6cad6c;
  // background-color: #396039;
  /*border:1px solid #2c424c;*/
  /*border-bottom: 10px solid #2c424c;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-6 {
  margin: 0;
  // background-color: #253943;
  background-color: #6cad6c;
  // background-color: #335833;
  /*border:1px solid #253943;*/
  /*border-bottom: 10px solid #253943;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.agg-more {
  margin: 0;
  background-color: #6cad6c;
  // background-color: #305330;
  /*border:1px solid #486877;*/
  /*border-bottom: 10px solid #486877;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#6cad6c, 10%);
  }
}

div.timeline-event.wishes-less {
  margin: 0;
  // background-color: #a0a0a0;
  background-color: #d34545;
  /*border:1px solid #a0a0a0;*/
  /*border-bottom: 10px solid #a0a0a0;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#d34545, 10%);
  }
}

div.timeline-event.wishes-even {
  margin: 0;
  // background-color: #ba6a24;
  background-color: #ececec;
  /*border:1px solid #ba6a24;*/
  /*border-bottom: 10px solid #ba6a24;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#ececec, 10%);
  }
}

div.timeline-event.wishes-1 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #415e6b;
  /*border:1px solid #415e6b;*/
  /*border-bottom: 10px solid #415e6b;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-2 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #3d5865;
  /*border:1px solid #3d5865;*/
  /*border-bottom: 10px solid #3d5865;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-3 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #344c58;
  /*border:1px solid #344c58;*/
  /*border-bottom: 10px solid #344c58;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-4 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #2f4550;
  /*border:1px solid #2f4550;*/
  /*border-bottom: 10px solid #2f4550;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-5 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #2c424c;
  /*border:1px solid #2c424c;*/
  /*border-bottom: 10px solid #2c424c;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-6 {
  margin: 0;
  background-color: #648ea0;
  // background-color: #253943;
  /*border:1px solid #253943;*/
  /*border-bottom: 10px solid #253943;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

div.timeline-event.wishes-more {
  margin: 0;
  background-color: #648ea0;
  // background-color: #486877;
  /*border:1px solid #486877;*/
  /*border-bottom: 10px solid #486877;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#648ea0, 10%);
  }
}

/*
div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}
div.requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    opacity: 0.5;
}
*/

/*#groupTimeline {
    z-index:10;
}
#memberTimeline {
    z-index: 20;
}
#groupTimelineHolder div.timeline-event {
    border: none;
    border-radius: 0;
    background: none;
}
#groupTimelineHolder div.timeline-event-selected {
    border: none;
    background: none;
}
#groupTimelineHolder div.timeline-event-content {
    margin: 0;
    border:none;
}*/

div.timeline-event-range {
  position: relative;
  // overflow: visible;
  width: 100%;
  /*height: 100px;*/
  /*height: auto;*/
  overflow: hidden;
  border: none;
  border-radius: 0;
}

.timeline-frame .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  color: white;
  /* height and color is set for each individual bar */
  text-align: center;
}

.timeline-frame .requirement {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid gray;
  background: #e5e5e5;
  text-align: center;
  opacity: 0.5;
}

/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */

 .daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker .ranges {
  width: 185px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: $link-color;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: $brand-primary;
  border: 1px solid $brand-primary;
  color: #fff;
}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: #ebf4f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.start-date {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $link-color;
  border-color: $link-hover-color;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}

.daterangepicker_end_input {
  float: left; 
  padding-left: 11px
}

.daterangepicker th.month {
  width: auto;
}


//=====================================
// https://github.com/mgcrea/bootstrap-additions
// Using for angular-strap
/*
 * Datepicker element
 */
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}
.modal.center .modal-dialog {
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 320px;
  max-width: 630px;
  width: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*
 * Popovers corner placement
 *
 * Inherit exotic positionning from basic ones & fix arrow placement
 */
.popover.top-left {
  margin-top: -10px;
}
.popover.top-left .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: 10%;
}
.popover.top-left .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.top-right {
  margin-top: -10px;
}
.popover.top-right .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: 90%;
}
.popover.top-right .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.bottom-left {
  margin-top: 10px;
}
.popover.bottom-left .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
  left: 10%;
}
.popover.bottom-left .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.bottom-right {
  margin-top: 10px;
}
.popover.bottom-right .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
  left: 90%;
}
.popover.bottom-right .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
/*
 * Timepicker element
 */
.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}

.time-tip {
  z-index: 100000;
  background-color: transparent;
  display: inline-block;
  padding: 4px 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}