<section id="dashboard">

  <div class="well well-large greetings">
    <h2>{{ui.dashboard.welcome}}, {{app.resources.name}}</h2>
  </div>

  <!-- row-fluid -->
  <div class="row-fluid">

      <!-- pie charts for groups -->
      <div class="widget span8">

        <div class="head">
          <!-- nav pills for weeker -->
          <ul id="weeker" class="nav nav-pills">
            <li class="{{(current==true) && 'active'}}"><a ng-click="weeker()">{{ui.dashboard.thisWeek}}</a></li>
            <li class="{{(current==false) && 'active'}}"><a ng-click="weeker()">Next Week</a></li>
          </ul>
          <!-- end nav pills for weeker -->
          <button class="btn btn-small" bs-modal="'js/views/elements/widget-pies.html'"><i class="icon-cog"></i></button>
        </div>
        <hr>

        <p class="muted text-center" ng-show="loading.pies.status">{{loading.pies.message}}</p>

        <!-- pie loop -->
        <ul class="itemslist" ng-hide="loading.pies.status">
          <li ng-repeat="pie in pies">
            <div id="weeklyPie-{{pie.id}}" class="pie"></div>
            <div class="info">
              <h3>{{pie.name | truncateGroupTitle}}</h3>
              <hr>
              <h5>{{pie.ratios.more}}%</h5> 
              <small class="muted">more</small>, 
              <h5>{{pie.ratios.even}}%</h5> 
              <small class="muted">even</small>, 
              <h5>{{pie.ratios.less}}%</h5> 
              <small class="muted">less</small>
            </div>
          </li>
        </ul>
        <!-- end pie loop -->

        <hr class="lastline">
        <p class="muted"><small><i>{{periods.first}} / {{periods.last}}</i></small></p>

      </div>
      <!-- end pie charts for groups -->
      
      <!-- announcements sidebar -->
      <div class="widget span4">

        <div class="head">
          <h4>Announcements</h4>
          <!-- <button class="btn btn-small"><i class="icon-cog"></i></button> -->
        </div>
        <hr>

        <!-- p2000 loop -->
        <ul class="itemslist">
          <li ng-repeat="alarm in alarms.list">
            <table>
              <tr>
                <td class="first">
                  <span class="prio label label-important"  ng-show="alarm.prio.1">PRIO 1</span>
                  <span class="prio label label-warning"    ng-show="alarm.prio.2">PRIO 2</span>
                  <span class="prio label label-info"       ng-show="alarm.prio.3">PRIO 3</span>
                  <span class="prio label label-inverse"    ng-show="alarm.prio.test">PROEFALARM</span>
                </td>
                <td class="last">
                  <p>{{alarm.body}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="muted"><i>{{alarm.msgCode}}</i></small>
                </td>
                <td>
                  <span class="label label-natural pull-right">{{alarm.day}} {{alarm.time}}</span>
                </td>
              </tr>
            </table>
          </li>
        </ul>
        <!-- end p2000 loop -->
        <hr class="lastline">
        <p><small><a class="pull-right" ng-click="toggle(more.status)">{{more.text}}</a></small></p>

      </div>
      <!-- end announcements sidebar -->

  </div>
  <!-- end row-fluid -->

</section>