<div class="row">
  <div class="btn-group"
       style="width: 190px; {{browser.screen.width > 768 && 'padding-left: 25px'}}">

    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Download mobiele app
    </button>

    <ul class="dropdown-menu pull-right">
      <li>
        <a href="https://play.google.com/store/apps/details?id=com.askcs.standby"
           target="_blank">
          Download Android App
        </a>
      </li>
      <li>
        <a href="https://itunes.apple.com/nl/app/standby/id655588325?mt=8&uo=4"
           target="itunes_store">
          Download iPhone App
        </a>
      </li>
    </ul>

  </div>
</div>