<div class="page-header">
  <h2>{{ui.help.header}}</h2>
  <div class="btn-group pull-right">
    <button type="submit" 
            ng-click="downloadManual()" 
            class="btn btn-success">{{ui.downloads.manual}}</button>
  </div>
</div>


<!-- help -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app">
      <li class="active">
        <a href="#planboardTab" data-toggle="tab"><span class="entypo">&#128340;</span> {{ui.planboard.planboard}}</a>
      </li>
      <li>
        <a href="#statisticsTab" data-toggle="tab"><span class="entypo">&#128200;</span> {{ui.planboard.statistics}}</a>
      </li>
      <li>
        <a href="#messagesTab" data-toggle="tab"><span class="entypo">&#9993;</span> {{ui.message.messages}}</a>
      </li>
      <li>
        <a href="#groupsTab" data-toggle="tab"><span class="entypo">&#128101;</span> {{ui.groups.groups}}</a>
      </li>
      <li>
        <a href="#profileTab" data-toggle="tab"><span class="entypo">&#128100;</span> {{ui.profile.profile}}</a>
      </li>
      <li>
        <a href="#settingsTab" data-toggle="tab"><span class="entypo">&#9881;</span> {{ui.settings.settings}}</a>
      </li>
      <li>
        <a href="#supportTab" data-toggle="tab"><span class="entypo">&#59272;</span> {{ui.help.support}}</a>
      </li>
    </ul>
    <!-- end tabs -->

    <!-- tabs content -->
    <div class="tab-content">

      <!-- planboardTab -->
      <div class="tab-pane active" id="planboardTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.planboard.planboard}}</h3>
        </div>
        <hr>
      </div>
      <!-- end planboardTab -->

      <!-- statisticsTab -->
      <div class="tab-pane" id="statisticsTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.planboard.statistics}}</h3>
        </div>
        <hr>
      </div>
      <!-- end statisticsTab -->

      <!-- messagesTab -->
      <div class="tab-pane" id="messagesTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.message.messages}}</h3>
        </div>
        <hr>
      </div>
      <!-- end messagesTab -->

      <!-- groupsTab -->
      <div class="tab-pane" id="groupsTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.groups.groups}}</h3>
        </div>
        <hr>
      </div>
      <!-- end groupsTab -->

      <!-- profileTab -->
      <div class="tab-pane" id="profileTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.profile.profile}}</h3>
        </div>
        <hr>
      </div>
      <!-- end profileTab -->

      <!-- settingsTab -->
      <div class="tab-pane" id="settingsTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.settings.settings}}</h3>
        </div>
        <hr>
      </div>
      <!-- end settingsTab -->

      <!-- supportTab -->
      <div class="tab-pane" id="supportTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.help.support}}</h3>
        </div>
        <hr>
      </div>
      <!-- end supportTab -->

    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end help -->