<div class="page-header">
  <h2>Logs</h2>


  <!-- groups buttons -->
  <!--<div class="btn-group pull-right">-->
  <!--<button type="button"-->
  <!--ng-click="addGroupForm(); setViewTo('add')"-->
  <!--class="btn btn-success {{(views.add==true) && 'active'}}">{{ui.groups.newGroup}}</button>-->
  <!--<button type="button"-->
  <!--ng-click="newMemberForm(); setViewTo('member')"-->
  <!--class="btn btn-success {{(views.member==true) && 'active'}}">{{ui.groups.newMember}}</button>-->
  <!--</div>-->
  <!-- end groups buttons -->

  <!-- search members -->
  <!--<form class="form-search pull-right"-->
  <!--ng-submit="searchMembers(search.query)">-->
  <!--<div class="input-append">-->
  <!--<input type="text"-->
  <!--class="span2 search-query"-->
  <!--placeholder="{{ui.groups.searchFor}}"-->
  <!--ng-model="search.query">-->
  <!--<button type="submit" class="btn"><i class="icon-search"></i>&nbsp;{{ui.groups.search}}</button>-->
  <!--</div>-->
  <!--</form>-->
  <!-- end search members -->
</div>

<!-- groups and members -->
<div class="tabbable tabs-left">

  <!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0;">
    <!-- add group tab link -->
    <li class="active">
      <a href="" data-toggle="tab">
        <span class="entypo">&#59392;</span> Logs
      </a>
    </li>
    <!-- end add group tab link -->
  </ul>
  <!-- end tabs links -->

  <!-- tabs content -->
  <div class="tab-content">


    <!-- group tab -->
    <div class="tab-pane active" id="groupTab">
      <div class="tab-header">

        <!-- groups list -->
        <div class="pull-left">
          <select ng-model="current"
                  ng-options="group.uuid as group.name for group in groups"
                  ng-selected="current"
                  ng-change="requestGroup(current); sorter='resources.lastName'; reverse=false;">
          </select>
        </div>
        <!--end groups list -->

        <div class="pull-right">
          <input type="text"
                 class="span2 search-query"
                 placeholder="Filter logs.."
                 ng-model="filtered">
        </div>

      </div>
      <hr>

      <p ng-hide="data.logs.length > 0">
        Er zijn geen logs.
      </p>

      <div ng-show="data.logs.length > 0">

        <!--<pre><small>{{data.logs | json}}</small></pre>-->

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              <a ng-click="orderBy('status')">Status</a>&nbsp;
                <span ng-show="(ordered=='status')">
                  <span ng-hide="reversed">&#9650;</span>
                  <span ng-show="reversed">&#9660;</span>
                </span>
            </th>
            <th>
              <a ng-click="orderBy('from')">From</a>&nbsp;
                <span ng-show="(ordered=='from')">
                  <span ng-hide="reversed">&#9650;</span>
                  <span ng-show="reversed">&#9660;</span>
                </span>
            </th>
            <th>
              <a ng-click="orderBy('to')">To</a>&nbsp;
                <span ng-show="(ordered=='to')">
                  <span ng-hide="reversed">&#9650;</span>
                  <span ng-show="reversed">&#9660;</span>
                </span>
            </th>
            <th>
              <a ng-click="orderBy('started.stamp')">Time</a>&nbsp;
                <span ng-show="(ordered=='started.stamp')">
                  <span ng-hide="reversed">&#9650;</span>
                  <span ng-show="reversed">&#9660;</span>
                </span>
            </th>
            <th>
              <a ng-click="orderBy('duration.stamp')">Duration</a>&nbsp;
                <span ng-show="(ordered=='duration.stamp')">
                  <span ng-hide="reversed">&#9650;</span>
                  <span ng-show="reversed">&#9660;</span>
                </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="log in data.logs | filter: filtered | orderBy:ordered : reversed">
            <td><span class="label label-inverse">{{log.status}}</span></td>
            <td>{{log.from}}</td>
            <td>{{log.to}}</td>
            <td>{{log.started.date}}</td>
            <td>{{log.duration.presentation}}</td>
          </tr>
          </tbody>
        </table>
        <span class="muted pull-right">
          <small>
            <i>Er zijn {{data.logs.length}} logs.</i>
          </small>
        </span>
      </div>
    </div>
    <!-- end group tab -->


  </div>
  <!-- end tabs content -->
</div>
<!-- end groups and members -->