<div id="welcome">

	<!-- loginForm -->
	<div id="login" class="boxed" ng-show="views.login" ng-hide="views.help || views.changePass">
		<form ng-submit="login()">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />


      <!--<h4 class="form-signin-heading">Verhuisd</h4>-->
      <!--<p>-->
        <!--Standby is verhuisd naar de volgende locatie:-->
        <!--<a href="http://knrm.standby.ask-cs.com/#/login">-->
          <!--http://knrm.standby.ask-cs.com/-->
        <!--</a>-->
      <!--</p>-->
      <!--<br/>-->


      <h4 class="form-signin-heading">Maintenance</h4>
      <p>Er vindt momenteel een upgrade plaats. De applicatie zal binnenkort weer beschikbaar zijn.
        Bedankt voor uw geduld en excuses voor het ongemak.</p>
      <br/>

		</form>
	</div>
	<!-- end loginForm -->

</div>