<div class="page-header">
  <h2>Messages</h2>
  <div class="btn-group pull-right">
    <button type="submit" 
            ng-click="composeMessage(); setViewTo('compose')" 
            class="btn btn-success {{(views.compose==true) && 'active'}}">{{ui.message.composeAMessage}}</button>
  </div>
</div>


<!-- inboxes -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app">

      <li class="{{(views.compose==true) && 'active'}}" ng-show="views.compose">
        <a href="#composeTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('composeTab'); setViewTo('compose')">
          <span class="entypo">&#9998;</span> {{ui.message.compose}}
        </a>
      </li>

      <li class="{{(views.message==true) && 'active'}}"  ng-show="views.message">
        <a href="#viewTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('viewTab'); setViewTo('view')">
          <span class="entypo">&#128196;</span> {{ui.message.message}}
        </a>
      </li>

      <li class="{{(views.inbox==true) && 'active'}}">
        <a href="#inboxTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('inboxTab'); resetViews(); setViewTo('inbox')">
          <span class="entypo">&#128229;</span> {{ui.message.inbox}}
        </a>
      </li>

      <li class="{{(views.outbox==true ) && 'active'}}">
        <a href="#outboxTab"   
            data-toggle="tab"
            ng-click="fixTabHeight('outboxTab'); resetViews(); setViewTo('outbox')">
          <span class="entypo">&#128228;</span> {{ui.message.outbox}}
        </a>
      </li>

      <li class="{{(views.trash==true ) && 'active'}}">
        <a href="#trashTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('trashTab'); resetViews(); setViewTo('trash')">
          <span class="entypo">&#9749;</span> {{ui.message.trash}}
        </a>
      </li>

    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">


      
      <!-- composeTab -->
      <div class="tab-pane {{(views.compose==true) && 'active'}}" id="composeTab" ng-show="views.compose">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.message.composeMessage}}</h3>
          <button type="submit" 
                  ng-click="(origin=='inbox'); closeTabs()" 
                  class="btn pull-right">{{ui.message.close}}</button>
        </div>
        <hr>

        <!-- compose form -->
        <form>
          <fieldset>
        
            <div class="control-group">
              <label class="control-label">{{ui.message.broadcast}}</label>
              <div  class="btn-group"  
                    bs-buttons-checkbox="" 
                    data-toggle="buttons-checkbox">

                <button type="button" 
                        class="btn btn-small" 
                        ng-model="broadcast.sms" 
                        ng-click=""
                        bs-button="">{{ui.message.sms}}</button>

                <button type="button" 
                        class="btn btn-small" 
                        ng-model="broadcast.email" 
                        ng-click=""
                        bs-button="">{{ui.message.email}}</button>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">{{ui.message.receviers}}</label>
              <!-- {{ui.message.chooseRecept}} -->
              <select data-placeholder=" " 
                      multiple 
                      class="chzn-select" 
                      style="width:530px" 
                      chosen
                      ng-model="message.receivers" 
                      ng-options="receiver.name group by receiver.group for receiver in receviersList">
              </select>
              <!-- <p ng-repeat="receiver in message.receivers"><strong>{{receiver.id}}</strong></p> -->
            </div>

            <div class="control-group">
              <label class="control-label">{{ui.message.subject}}</label>
              <input type="text" 
                      class="span5"
                      ng-model="message.subject"
                      placeholder="{{ui.message.typeSubject}}">
            </div>


            <div class="control-group">
              <label class="control-label">{{ui.message.message}}</label>
              <textarea rows="7" 
                        class="span7"
                        ng-model="message.body"></textarea>
            </div>

            <div class="form-actions">
              <button type="submit" 
                      ng-click="send(message, broadcast)" 
                      class="btn btn-success">{{ui.message.sendMessage}}</button>
            </div>

          </fieldset>
        </form>
        <!-- end compose form -->

      </div>
      <!-- end composeTab -->






      
      <!-- viewTab -->
      <div class="tab-pane {{(views.message==true) && 'active'}}" id="viewTab" ng-show="views.message">

        <div class="tab-header">
          <h3 class="pull-left">{{message.subject}}</h3>

          <div class="pull-right">
            <button type="button" 
                    ng-click="closeTabs()" 
                    class="btn">{{ui.message.close}}</button>
          </div>
        </div>
        <hr>

        <!-- message view -->
        <dl>
          <dt>{{ui.message.sender}}</dt>
            <dd>{{message.requester|convertEve|convertUserIdToName}} </dd>
          <dt>{{ui.message.receviers}}</dt>
            <dd>
              <span ng-repeat="receiver in message.responder">
                {{receiver|convertEve|convertUserIdToName}}, 
              </span>
            </dd>
          <dt>{{ui.message.date}}</dt>
            <dd>{{message.creationTime|nicelyDate}}</dd>
          <dt>{{ui.message.questionText}}</dt>
            <dd>{{message.question_text}}</dd>
        </dl>
        <!-- end message view -->

        <form>
          <fieldset>
            <div class="form-actions">
              <button type="button" 
                      ng-click="reply(message)"
                      class="btn btn-success">{{ui.message.reply}}</button>
              <button type="button" 
                      ng-click="removeMessage(message.uuid)"
                      class="btn btn-danger">{{ui.message.del}}</button>
            </div>

          </fieldset>
        </form>

      </div>
      <!-- end viewTab -->





      <!-- inboxTab -->
      <div class="tab-pane {{(views.inbox==true) && 'active'}}" id="inboxTab">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.message.inbox}}</h3>

          <!-- filter messages -->
          <form class="pull-right">
            <input type="text" 
                    class="span12 search-query" 
                    placeholder="{{ui.message.ph_filterMessage}}" 
                    ng-model="query.inbox">
          </form>
          <!-- end filter messages -->

        </div>
        <hr>

        <p ng-hide="(messages.inbox|filter:query.inbox).length > 0">{{ui.message.noMessage}}</p>

        <!-- inbox listing -->
        <div ng-show="(messages.inbox|filter:query.inbox).length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <input type="checkbox"
                          ng-model="selectionMaster.inbox"
                          ng-click="toggleSelection(messages.inbox, 'inbox', selectionMaster.inbox)">
                </th>
                <th></th>
                <th>{{ui.message.from}}</th>
                <th>{{ui.message.subject}}</th>
                <th>{{ui.message.date}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="message in messages.inbox | filter:query.inbox | orderBy:'creationTime':true">
                <td>
                  <input type="checkbox"
                          ng-model="selection.inbox[message.uuid]"
                          ng-checked="selectionMaster.inbox">
                </td>
                <td><span class="label label-warning" ng-show="(message.state=='NEW')">{{ui.message.newMsg}}</span></td>
                <td>{{message.requester|convertEve|convertUserIdToName}}</td>
                <td><a ng-click="requestMessage(message.uuid, 'inbox')">{{message.subject}}</a></td>
                <td>{{message.creationTime|nicelyDate}}</td>
                <td>
                  <div class="pull-right">
                  
                    <button class="btn btn-mini"
                            ng-click="reply(message)"><i class="icon-share-alt"></i></button>

                    <button type="submit" 
                            ng-click="removeMessage(message.uuid)" 
                            class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>

                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <button type="button" 
                  ng-click="removeMessages(selection.inbox)" 
                  class="btn btn-small btn-danger pull-left">
                  <i class="icon-trash icon-white"></i> {{ui.message.deleteSelected}}</button>

          <span class="muted pull-right">
            <small><i>{{(messages.inbox|filter:query.inbox).length | i18n_spec:'message.someMessage'}} </i></small>
          </span>
        </div>
        <!-- end inbox listing -->

      </div>
      <!-- end inboxTab -->






      <!-- outboxTab -->
      <div class="tab-pane {{(views.outbox==true) && 'active'}}" id="outboxTab">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.message.outbox}}</h3>

          <!-- filter messages -->
          <form class="pull-right">
            <input type="text" 
                    class="span12 search-query" 
                    placeholder="Filter messages.." 
                    ng-model="query.outbox">
          </form>
          <!-- end filter messages -->
        </div>
        <hr>

        <p ng-hide="(messages.outbox|filter:query.outbox).length > 0">{{ui.message.noMessage}}</p>

        <!-- outbox listing -->
        <div ng-show="(messages.outbox|filter:query.outbox).length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <input type="checkbox"
                          ng-model="selectionMaster.outbox"
                          ng-click="toggleSelection(messages.outbox, 'outbox', selectionMaster.outbox)">
                </th>
                <th style="max-width: 400px;">{{ui.message.receviers}}</th>
                <th>{{ui.message.subject}}</th>
                <th>{{ui.message.date}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="message in messages.outbox | filter:query.outbox | orderBy:'creationTime':true">
                <td>
                  <input type="checkbox"
                          ng-model="selection.outbox[message.uuid]"
                          ng-checked="selectionMaster.outbox">
                </td>
                <td>
                  <span ng-repeat="receiver in message.responder">{{receiver|convertEve|convertUserIdToName}}, </span>
                </td>
                <td><a ng-click="requestMessage(message.uuid,'outbox')">{{message.subject}}</a></td>
                <td>{{message.creationTime|nicelyDate}}</td>
                <td>
                  <div class="pull-right">
                    <button type="submit" 
                            ng-click="removeMessage(message.uuid)" 
                            class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></button>

                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <button type="button" 
                  ng-click="removeMessages(selection.outbox)" 
                  class="btn btn-small btn-danger pull-left">
                  <i class="icon-trash icon-white"></i>{{ui.message.deleteSelected}}</button>

          <span class="muted pull-right">
            <small><i>{{(messages.outbox|filter:query.outbox).length | i18n_spec:'message.someMessage'}}</i></small>
          </span>
        </div>
        <!-- end outbox listing -->

      </div>
      <!-- end outboxTab -->





      <!-- trashTab -->
      <div class="tab-pane {{(views.trash==true) && 'active'}}" id="trashTab">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.message.trash}}</h3>

          <!-- empty trash button -->
          <div class="pull-right" style="margin-left: 10px;">
            <button type="button" 
                  ng-click="emptyTrash()" 
                  class="btn btn-danger pull-left">
                  <i class="icon-trash icon-white"></i>{{ui.message.emptyTrash}}</button>
          </div>
          <!-- end empty trash button -->

          <!-- filter messages -->
          <form class="pull-right">
            <input type="text" 
                    class="span12 search-query" 
                    placeholder="Filter messages.." 
                    ng-model="query.trash">
          </form>
          <!-- end filter messages -->

        </div>
        <hr>

        <p ng-hide="(messages.trash|filter:query.trash).length > 0">{{ui.message.noMsgInTrash}}</p>

        <!-- trash listing -->
        <div ng-show="(messages.trash|filter:query.trash).length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <input type="checkbox"
                          ng-model="selectionMaster.trash"
                          ng-click="toggleSelection(messages.trash, 'trash', selectionMaster.trash)">
                </th>
                <th>{{ui.message.box}}</th>
                <th>{{ui.message.persons}}</th>
                <th>{{ui.message.subject}}</th>
                <th>{{ui.message.date}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="message in messages.trash | filter:query.trash | orderBy:'creationTime':true">
                <td>
                  <input type="checkbox"
                          ng-model="selection.trash[message.uuid]"
                          ng-checked="selectionMaster.trash">
                </td>
                <td><span class="label">{{message.box}}</span></td>
                <td>
                  <span ng-repeat="receiver in message.responder">{{receiver|convertEve|convertUserIdToName}}, </span>
                </td>
                <td><a ng-click="requestMessage(message.uuid, 'trash')">{{message.subject}}</a></td>
                <td>{{message.creationTime|nicelyDate}}</td>
                <td>
                  <div class="pull-right">

                    <button type="submit" 
                            ng-click="restoreMessage(message.uuid)" 
                            class="btn btn-success btn-mini"><i class="icon-thumbs-up icon-white"></i></button>

                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <button type="button" 
                  ng-click="restoreMessages(selection.trash)" 
                  class="btn btn-small btn-success pull-left">
                  <i class="icon-thumbs-up icon-white"></i>{{ui.message.restoreSelected}}</button>

          <span class="muted pull-right">
            <small><i>{{(messages.trash|filter:query.trash).length | i18n_spec:'message.someMessage'}}</i></small>
          </span>
        </div>
        <!-- end trash listing -->

      </div>
      <!-- end trashTab -->




    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end inboxes