<span class="label label-important">{{index}}</span>

<div class="input-append">

  <input type="text"
         id="inputPhoneNumber-{{index}}"
         class="span12"
         ng-model="number">
  <!--ng-change="phoneNumberParser(phoneNumber)">-->
  <!--value="{{data.resources.PhoneAddress}}">-->

  <button class="btn"
          type="button"
          ng-click="remove(index)">
    <i class="icon-remove"></i>
  </button>


  <!--<p class="text-error" ng-show="!profilemeta.PhoneAddress">-->
  <!--<small><i>Please fill your phone number!</i></small>-->
  <!--</p>-->

  <!--<pre><small>{{phoneNumberParsed}}</small></pre>-->

  <p class="text-error" ng-hide="phoneNumberParsed.result">
    <small><i>{{phoneNumberParsed.message}}</i></small>
  </p>
  <p class="text-success" ng-show="phoneNumberParsed.result">
    <small>
      <i>{{phoneNumberParsed.message}}</i>
    </small>
  </p>

</div>