<div class="page-header">
  <h2>{{ui.settings.settings}}</h2>
</div>


<!-- settings -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app">

      <li class="active">
        <a href="#userSettingsTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('userSettingsTab')"><span class="entypo">&#128100;</span> {{ui.settings.user}}</a>
      </li>
      <li>
        <a href="#appSettingsTab" 
            data-toggle="tab"
            ng-click="fixTabHeight('appSettingsTab')"><span class="entypo">&#9881;</span> {{ui.settings.application}}</a>
      </li>
    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">

      <!-- userSettingsTab -->
      <div class="tab-pane active" id="userSettingsTab">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.settings.userSettings}}</h3>
        </div>
        <hr>

        <!-- user settings form -->
        <!-- <form>
          <fieldset>
        
            <div class="control-group">
              <label class="control-label">{{ui.settings.langSetting}}</label>
              <div  class="btn-group"  
                    bs-buttons-checkbox="" 
                    data-toggle="buttons-checkbox">

                <button type="button" 
                        class="btn btn-small" 
                        ng-model="broadcast.sms" 
                        ng-click=""
                        bs-button="">{{ui.message.sms}}</button>

                <button type="button" 
                        class="btn btn-small" 
                        ng-model="broadcast.email" 
                        ng-click=""
                        bs-button="">{{ui.message.email}}</button>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" 
                      ng-click="send(message, broadcast)" 
                      class="btn btn-success">{{ui.settings.saveSettings}}</button>
            </div>

          </fieldset>
        </form> -->
        <!-- end user settings form -->

      </div>
      <!-- end userSettingsTab -->

      <!-- appSettingsTab -->
      <div class="tab-pane" id="appSettingsTab">

        <div class="tab-header">
          <h3 class="pull-left">{{ui.settings.appSettings}}</h3>
        </div>
        <hr>

      </div>
      <!-- end appSettingsTab -->

    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end settings -->