<section id="versions">

  <div class="container-narrow">

    <div class="masthead">
      <h4 class="pull-right"><span class="muted">Current version:</span> v{{config.version}}</h4>
      <h3 class="muted">Change Log</h3>
    </div>

    <hr>

    <div class="jumbotron">
      <h1>WebPaige Version Updates</h1>
      <br>
      <a class="btn btn-large btn-success" href="#/login">Go back to login</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
      <div class="span12">

        <h4>2.0.1</h4>
        <p>
          <ul>
            <li>Case-insesitive login 4-4-2013</li>
            <li>Quick css fix for IE. (Not showing timeslots) 3-4-2013</li>
            <li>CSS fix for tabs left border. (Bug with dynamic height sizing when there is no content in tab is still open!!) 3-4-2013</li>
          </ul>
        </p>

        <h4>2.0.0</h4>
        <p>
          <ul>
            <li>KNRM (live) 3-4-2013</li>
            <li>Reddingsbrigade (test) 3-4-2013</li>
            <li>Brandweer (demo) 3-4-2013</li>
          </ul>
        </p>
      </div>

  </div> <!-- /container -->

</section>