#preloader
  img(ng-src='{{StandBy.config.profile.logos.login}}',
  alt='{{StandBy.config.profile.title}}')
  h4 {{ui.login.setting_up_app}}
  .progress.progress-striped.active.span3: .bar
  span.muted
  br
  br