<!-- group form -->
<div id="inline-form" class="well" ng-show="(views.add || views.edit)">
  <!-- close btn -->
  <button ng-click="closeForm()" 
          class="close">&times;</button>
  <!-- end close btn -->
  <!-- inline form -->
  <form ng-submit="groupSubmit(groupForm)">
    <h4>Group Form</h4>
    <hr>
    <div class="control-group">
      <label class="control-label">Group Name</label>
      <div class="controls">
        <input type="text" 
            class="span4" 
            ng-model="groupForm.name">
      </div>
    </div>
    <button type="submit" 
            class="btn btn-success">Save Group</button>
  </form>
  <!-- end inline form -->
</div>
<!-- end group form -->