<div class="page-header">
  <h2>FAQ</h2>
  <!-- <div class="btn-group pull-right">
    <button type="submit" 
            ng-click="downloadManual()" 
            class="btn btn-success">{{ui.downloads.manual}}</button>
  </div> -->
</div>


<!-- help -->
<div class="row-fluid">
  <div class="tabbable tabs-left">


    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">

      <li class="{{(views.web==true) && 'active'}}">
        <a  href="faq#webTab"
            data-toggle="tab"
            ng-click="setViewTo('web')"><span class="entypo">&#128187;</span> Web</a>
      </li>

      <li class="{{(views.ios==true) && 'active'}}">
        <a  href="help#iosTab"
            data-toggle="tab"
            ng-click="setViewTo('ios')"><span class="entypo">&#128241;</span> IOS</a>
      </li>

      <li class="{{(views.android==true) && 'active'}}">
        <a  href="help#androidTab"
            data-toggle="tab"
            ng-click="setViewTo('android')"><span class="entypo">&#128241;</span> Android</a>
      </li>

    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">





      <!-- webTab -->
      <div class="tab-pane {{(views.web == true) && 'active'}}" id="webTab">

        <div class="tab-header">
          <h3 class="pull-left">Web applicatie</h3>
        </div>
        <hr>

        <h4>Hoe zet ik mezelf snel op niet beschikbaar voor de komende 24 uur?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/WvJrUboUt5Q" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik mezelf voor elk weekend op beschikbaar?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/W-aV3cELuGQ" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe bekijk ik mijn beschikbaarheid voor de volgende week?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/2GsGyi6YR1Q" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe krijg ik een nieuw wachtwoord als ik het ben vergeten?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/WyQvuG1xx2w" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe controleer ik of er een tekort dreigt in mijn groep(en)?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/FgJhLnubWEg" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe verander ik mijn persoonlijke informatie (bijv. telefoonnummer of wachtwoord)?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/1r_IKDyOLfY" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe stuur ik een bericht naar collega's of groepen?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/aEKbWuYRjqM" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe stel ik de taal in StandBy in?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/-vllVFnaXeQ" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe stel ik in de Agenda een standaard groep in?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/K8NsoyF1cl0" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <section ng-show="app.resources.role == 1">
          <div class="tab-header">
            <h3 class="pull-left">Voor planners</h3>
          </div>
          <hr>

          <h4>Hoe kan ik de beschikbaarheid van een collega inzien en wijzigen?</h4>
          <iframe width="560" height="315" src="//www.youtube.com/embed/zlxMuFHlxIM" frameborder="0" allowfullscreen></iframe>
          <br/><br/><br/>

          <h4>Hoe maak ik een nieuwe gebruiker aan?</h4>
          <iframe width="560" height="315" src="//www.youtube.com/embed/ISXhqAW2ywk" frameborder="0" allowfullscreen></iframe>
          <br/><br/><br/>

          <h4>Hoe voeg ik een gebruiker toe aan een groep en/of hoe pas ik dit aan?</h4>
          <iframe width="560" height="315" src="//www.youtube.com/embed/UpcJdi2eOgM" frameborder="0" allowfullscreen></iframe>
          <br/><br/><br/>

          <h4>Hoe verwijder ik iemand uit een groep?</h4>
          <iframe width="560" height="315" src="//www.youtube.com/embed/5c0-g208j-E" frameborder="0" allowfullscreen></iframe>
          <br/><br/><br/>

          <h4>Hoe verwijder ik een gebruiker uit Standby?</h4>
          <iframe width="560" height="315" src="//www.youtube.com/embed/e6kURIR6LQE" frameborder="0" allowfullscreen></iframe>
          <br/><br/><br/>
        </section>

      </div>
      <!-- end webTab -->





      <!-- iosTab -->
      <div class="tab-pane {{(views.ios == true) && 'active'}}" id="iosTab">
        <div class="tab-header">
          <h3 class="pull-left">iOS</h3>
        </div>
        <hr>

        <h4>Hoe installeer ik de StandBy IOS app?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/7eKXip3eppE" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <!--<h4>Hoe weet ik welke versie van de app ik gebruik?</h4>-->
        <!--<iframe width="560"-->
                <!--height="315"-->
                <!--src="//www.youtube.com/embed/fepUaXchGAc"-->
                <!--frameborder="0"-->
                <!--allowfullscreen></iframe>-->
        <!--<p>Vestibulum non molestie magna. Morbi porta blandit convallis.</p>-->
        <!--<br/>-->

        <h4>Hoe zet ik mezelf voor de komende 6 uur op niet beschikbaar?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/Cr0WpvjtE6s" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik mezelf beschikbaar voor iedere dinsdagavond van 17:00-2300?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/YBjf6TCDj6o" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe stuur ik een bericht naar alle collega's in een groep (bijv. alle opstappers)?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/rK-TZGITUug" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zie ik mijn huidige status en die van de groep(en)?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/gLRrA2esQ6I" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik de geo-fencing optie aan of uit?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/cWvvPkkUYyo" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- end iosTab -->





      <!-- androidTab -->
      <div class="tab-pane {{(views.android == true) && 'active'}}" id="androidTab">
        <div class="tab-header">
          <h3 class="pull-left">Android</h3>
        </div>
        <hr>

        <h4>Hoe installeer ik de StandBy Android app?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/1L82fHvAkpc" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe weet ik welke versie van de app ik gebruik?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/ykLd2EG5nRY" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik mijzelf voor de komende 6 uur op niet beschikbaar?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/iuX3zcmkN7g" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik mijzelf elke dinsdag tussen 17:00 en 23:00 uur beschikbaar?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/SBx3y925uK8" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe stuur ik een bericht naar alle collega's in een groep?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/ivgkBnpwwS4" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zie ik mijn huidige status en die van de groep(en)?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/IDP6fg8TIT8" frameborder="0" allowfullscreen></iframe>
        <br/><br/><br/>

        <h4>Hoe zet ik de geo-fencing optie aan of uit?</h4>
        <iframe width="560" height="315" src="//www.youtube.com/embed/exgsLkThN_c" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- end androidTab -->




    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end help -->