section#dashboard
  .page-header: h2 Dashboard
  br
  smart-alarming
  snapshots
  .row
    article(class="{{(!browser.mobile) && 'col-md-9' || 'col-md-12'}}")
      summaries
    article(class="{{(!browser.mobile) && 'col-md-3' || 'col-md-12'}}", ng-show='StandBy.config.profile.p2000.status')
      alarms