section#dashboard
  .page-header: h2 Dashboard
  br
  smart-alarming
  snapshots
  .row-fluid
    article(class="{{(!browser.mobile) && 'span9' || 'span12'}}")
      summaries
    article(class="{{(!browser.mobile) && 'span3' || 'span12'}}", ng-show='config.profile.p2000.status')
      alarms