#welcome
	//- download-mobile-app(ng-show='browser.mobile && browser.screen.width < 768')
	preloaded
	login-form
	login-help
	forgot-password
	change-password
	//- download-mobile-app#download(ng-hide='browser.mobile && browser.screen.width < 768')