img(ng-src='{{StandBy.config.profile.logos.login}}',
	alt='{{StandBy.config.profile.title}}')
img(ng-src='{{StandBy.config.profile.logos.sublogin}}',
	alt='{{StandBy.config.profile.title}}',
	ng-show="StandBy.config.profile.logos.sublogin!=''")