.scheadule
  .timer
    input(name='time-start', type='text', ng-model='s.time', bs-timepicker='bs-timepicker')
    i.icon-time
  ul
    li
      label(for='monday-{{s.exact}}')
        input(type='checkbox', ng-model='s.mon', id="monday-{{s.exact}}")
        | maandag
    li
      label(for='tuesday-{{s.exact}}')
        input(type='checkbox', ng-model='s.tue', id="tuesday-{{s.exact}}")
        | dinsdag
    li
      label(for='wednesday-{{s.exact}}')
        input(type='checkbox', ng-model='s.wed', id="wednesday-{{s.exact}}")
        | woensdag
    li
      label(for='thursday-{{s.exact}}')
        input(type='checkbox', ng-model='s.thu', id="thursday-{{s.exact}}")
        | donderdag
    li
      label(for='friday-{{s.exact}}')
        input(type='checkbox', ng-model='s.fri', id="friday-{{s.exact}}")
        | vrijdag
    li
      label(for='saturday-{{s.exact}}')
        input(type='checkbox', ng-model='s.sat', id="saturday-{{s.exact}}")
        | zaterdag
    li
      label(for='sunday-{{s.exact}}')
        input(type='checkbox', ng-model='s.sun', id="sunday-{{s.exact}}")
        | zondag
    li
      i.icon-calendar
  button.btn.btn-small.btn-danger(type='button', ng-click='remover(s.exact)')
    i.icon-trash.icon-white
