.page-header: h2 {{ui.settings.settings}}

.row
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
			li.active
				a(href='settings#userSettingsTab', data-toggle='tab')
					span.entypo &#128100;
					| {{ui.settings.user}}
			li
				a(href='settings#appSettingsTab', data-toggle='tab')
					span.entypo &#9881;
					| {{ui.settings.application}}

		.tab-content

			#userSettingsTab.tab-pane.active
				settings-user

			#appSettingsTab.tab-pane
				settings-app