div(style='overflow: hidden; height: 35px;')
  h3.pull-left(style='margin-top: 0;') {{ui.profile.passChange}}
hr
form.form-vertical
  .control-group
    label.control-label {{ui.profile.currentPass}}
    .controls
      input.col-md-3(type='password',
      ng-model='passwords.current')
  .control-group
    label.control-label {{ui.profile.newPass}}
    .controls
      input.col-md-3(type='password',
      ng-model='passwords.new1')
  .control-group
    label.control-label {{ui.profile.newPassRepeat}}
    .controls
      input.col-md-3(type='password',
      ng-model='passwords.new2')
  .form-actions
    button.btn.btn-success(type='submit',
    ng-click='change(passwords)') {{ui.profile.changePass}}
