div(style='overflow: hidden; height: 35px;')
  h3.pull-left(style='margin-top: 0;') {{ui.profile.profileView}}
hr
dl
  dt {{ui.profile.userGroups}}
  dd(ng-hide='groups.length > 0')
    | -
  dd(ng-show='groups.length > 0')
    ol
      li(ng-repeat='group in groups')
        span(ng-hide='StandBy.resources.role > 1')
          a(href='#/groups?uuid={{group.uuid}}#view') {{group.name}}
        span(ng-show='StandBy.resources.role > 1')
          | {{group.name}}
  dt {{ui.profile.role}}
  dd {{data.resources.role|translateRole}}
  dt {{ui.profile.email}}
  dd {{(data.resources.EmailAddress == '') && '-' || data.resources.EmailAddress}}
  dt {{ui.profile.phone}}
  dd(ng-hide='data.resources.PhoneAddresses.length > 0')
    | -
  dd(ng-show='data.resources.PhoneAddresses.length > 0')
    table
      tr(ng-repeat='phone in data.resources.PhoneAddresses')
        td(style='width: 75px;')
          span.label.label-inverse
            | {{($index == 0) && 'Standaard' || 'Extra.' + $index}}
        td {{phone}}
  dt {{ui.profile.pagerId}}
  dd {{(data.resources.pagerId == '') && '-' || data.resources.pagerId}}
  dt {{ui.profile.address}}
  dd {{(data.resources.PostAddress == '') && '-' || data.resources.PostAddress}}
  dt {{ui.profile.postcode}}
  dd {{(data.resources.PostZip == '') && '-' || data.resources.PostZip}}
  dt {{ui.profile.city}}
  dd {{(data.resources.PostCity == '') && '-' || data.resources.PostCity}}
  section(ng-hide='data.resources.role == 0 || StandBy.resources.role > 1')
    hr
    dt {{ui.profile.username}}
    dd {{data.resources.uuid}}
    dt(ng-show='data.resources.pincode') {{ui.profile.pincode}}
    dd(ng-show='data.resources.pincode') {{data.resources.pincode}}